= link_to 'Назад', [:admin, :lotteries, :headshot, :index]
'
= l @date

table.table.table-striped.tablesorter
  thead
    tr
      th Пользователь
      th Размер выигрыша
      th Количество билетов
      th Сумма ставок
      th Суммарный выигрыш
      th Прибыль
      th Билеты пользователя в этой лотерее

  tbody
    - @stats.each do |stat|
      tr
        td
          a
            =
 data-sort-by=(stat.user_id) #{stat.user.nickname} (#{stat.user_id})
        td = stat.wins / stat.count
        td = stat.count
        td = stat.bets
        td = stat.wins
        td = stat.bets - stat.wins
        td = link_to 'тыц', [:participations, :admin, stat.user, search: {lottery_types: ['Headshot']}]

