table.table.table-striped.tablesorter
  thead
    tr
      th День
      th Проданно билетов
      th На сумму
      th Из них выигрышных
      th На сумму
      th Прибыль
      th Подробности
  tbody
    - @stats.each do |stat|
      tr
        td = stat.date
        td = stat.participations_count
        td = stat.bets
        td = stat.winners
        td = stat.wins
        td = stat.bets - stat.wins
        td == stat.groups.map { |win, count| "#{win}: #{count}"}.join('<br/>')
