form action="/admin/testers/item_parser_add" method="POST"
  input style="width:80%" name="args" value='[{"data":1}]'
  input name="user" value="1"
  input.button type='submit'

table.table.table-striped.tablesorter
  thead
    tr
      th Запущен
      th Аргументы
      th Пользователь
      th Последняя ошибка
  tbody
    - @jobs.each do |job|
      tr
        td =job.run_at
        td =job.args
        td =job.user_id
        td =job.last_error