.container
  br
  = link_to '<< Назад', [:admin, :lotteries, :stone, :index], class: 'btn btn-default'
  table.table.table-striped.tablesorter
    thead
      tr
        th ID
        th Ход первого игрока
        th Ход второго игрока
        th Статус
    tbody
      - @rounds.each do |round|
        tr
          td =round.id
          td =round.user1_pass
          td =round.user2_pass
          td =round.status