.g-page ng-controller="userCtrl as user"
  .g-page__content
    header.intro
      .intro__button.button._theme_yellow onclick="GetStats('#Superprize');" id="Superprize" Суперприз
    nav.nav.grid.grid_align_center
      menu.menu
        a.menu__link href="#/" Главная
        a.menu__link href="#/fifty" игры и лотереи
        a.menu__link href="#/ruleskodo" Правила
        a.menu__link href='/admin' ng-if="user.admin_scope_access" Админка
      div.nav__links
        a.steam.steam_status_login ng-if="!user.logged_in" ng-click="user.login()"
          span.icons-steam-login
        .grid.grid_align_center ng-if="user.logged_in"
          a.steam.steam_status_logout ng-click="user.logout()"
            span.icons-steam-logout
          a.nav__button.button href="#/store" ДОСТАВКА ПРИЗОВ
    .content
      .grid
        main.content__main.grid
          .banner
            .banner__title Kodo
          .banner
            .banner__title 50/50
          .banner
            .banner__title КНБ
      .grid
        main.content__main.grid ng-controller="bannerCtrl as banner"
          .banner ng-class="{ _passive: user.url() === '/stone' || user.url() === '/fifty'}"
            a.banner__kodo__move.grid.grid_align_center.grid_justify_center href='#/kodo' ng-if="user.url() === '/history'"
              .icons-back
            a.banner__kodo__move.grid.grid_align_center.grid_justify_center href='#/history' ng-if="banner.kodo.participations.any() && !(user.url() === '/history')"
              .icons-tickets
            a.banner__link.banner__kodo href='#/kodo'
              .banner__half.banner__info.grid.grid_dir_column.grid_justify_around
                / Timer implemented via raw js
                .banner__kodo__timer --:--
                .banner__kodo__info
                  .banner__kodo__circle Тираж
                  .banner__kodo__number № {{ banner.kodo.id }}
          .banner ng-class="{ _passive: user.url() === '/history' || user.url() === '/kodo' || user.url() === '/stone' }"
            a.banner__link.banner__fifty href='#/fifty'
              .banner__half.banner__info.grid.grid_dir_column.grid_justify_center
                .banner__headshot__icon
                  .icons-fiftyfifty
                .banner__headshot__title 50/50
                .banner__headshot__subtitle всё или ничего
          .banner ng-class="{ _passive: user.url() === '/history' || user.url() === '/kodo' || user.url() === '/fifty'}"
            a.banner__link.banner__headshot href='#/stone'
              .banner__half.banner__info.grid.grid_dir_column.grid_justify_center
                .banner__headshot__icon
                  .icons-target
                .banner__headshot__title КНБ
                .banner__headshot__subtitle Анализируй и Побеждай!
    .sound__button ng-click='user.switch_sound()'
      .icons-soundOn ng-if='user.sound'
      .icons-soundOff ng-if='!user.sound'
    .content
      .ng-view
    /TODO: rework, move style to css
    .content.grid ng-if="user.url() === '/kodo'" style='padding-bottom: 25px;'
      .content__main style ='margin-top: -200px;'
        //iframe width="100%" height="350" src="https://www.youtube.com/embed/ZhfUv0spHCY" class="video">
        .content__dummy1
        a.button._size_medium._theme_dark._theme_dark-blue._theme_dark-dark href="#/callback" Обратная связь
        .fifty__rule style='font-weight: bold; font-size: 14px; text-align: center;'
          .balance__title
            .rule__name НОВОСТИ:
            | Мы продолжаем улучшать наш сайт прямо сейчас, чтобы Вам было интереснее и приятнее.
            br &nbsp
            | Следующее обновление: "
            asd style='color: red' Звуки в fifty!
            | "
      .content__aside
        .vk
          .vk__title Вконтакте
          .content__dummy2
          /.vk__widget
          /  iframe scrolling="no" src="http://vk.com/widget_community.php?app=0&amp;width=220px&amp;_ver=1&amp;gid=73890415&amp;mode=2&amp;color1=&amp;color2=&amp;color3=&amp;class_name=&amp;height=420&amp;14eb01475fe" name="fXDb65b8" width="100%" height="420"
    footer.footer.date
      | Текущее время:
      current-time<
      |.
      '
      | часовой пояс GMT
      current-gmt<>
      | POWERED BY KODO®
      / | POWERD BY KODO®
    stat
  broadcast
  bets
  .g-errors
    .g-errors__item.g-errors__popup.g-errors__nojs Для корркетного отображения сайта включите JavaScript!
    .g-errors__item.g-errors__popup.g-errors__old
      | Для корркетного отображения сайта обновите браузер:
      br
      a href="http://www.google.com/chrome/" target="_blank"
        = image_tag 'chrome.png', alt: '', width: 200, height: 200
      a href="http://www.mozilla.org/firefox/" target="_blank"
        = image_tag 'firefox.png', alt: '', width: 200, height: 200

= javascript_include_tag 'angular.js', 'angular-route.js', 'application.js'

//Yandex.Metrika counter
javascript:
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter32761950 = new Ya.Metrika({
                    id:32761950,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
              f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
img src="https://mc.yandex.ru/watch/32761950" style="position:absolute; left:-9999px;" alt=""
//Yandex.Metrika counter