- stat = @lottery.stat
= link_to 'Назад', [:by_date, :admin, :lotteries, :kodo, :index, date: stat.date], class: 'btn btn-blue'

div = stat.date
div
  | Билетов продано:
  =< stat.participations_count
div
  | Ставки
  =< stat.bets

- if @lottery.finished?
  div
    | Победителей
    =< stat.winners
  div
    | Сумарный выигрыш
    =< stat.wins
- else
  div Лотерея еще не разыграна

table.table.table-striped.tablesorter
  thead
    tr
      th Пользователь
      - if @lottery.finished?
        th Угадано номеров
        th Угадана картинка?
      th Билетов
      th Ставки
      - if @lottery.finished?
        th Выигрыши
        th Прибыль
      th Билеты пользователя в этой лотерее
  tbody
    - @stats.each do |stat|
      tr
        td data-sort-by=(stat.user_id) #{stat.user.nickname} (#{stat.user_id})
        - if @lottery.finished?
          td = stat.number_hits
          td data-sort-by=(stat.gun_hits) = stat.gun_hits.to_i.zero? ? 'Нет' : 'Да'
        td = stat.count
        td = stat.bets
        - if @lottery.finished?
          td = stat.wins
          td = stat.wins && (stat.bets - stat.wins)
        td = link_to 'тыц',
                     [:participations, :admin, stat.user,
                      search: { lottery_number: @lottery.id, gun_matched: stat.gun_hits,
                      numbers_matched: [stat.number_hits] }]
