h3 Мои тикеты
ul
  = link_to 'Создать', [:new, :ticket]
  - @tickets.decorate.each do |ticket|
    li
      .category = ticket.category
      .status = ticket.closed? ? 'Закрыт' : 'Открыт'
      = link_to ticket.title, ticket
