= simple_form_for @ticket do |f|
  = f.input :user_name
  = f.input :user_email
  = f.input :title
  = f.input :category, collection: TicketDecorator.categories.invert, include_blank: false
  = f.input :body, as: :text
  = f.submit 'Создать'
