form
  .error
    display: block
    color: red
  label
    width: 200px
  label.checkbox
    width: auto

  .daterange
    width: 185px

  .input
    margin-left: 20px

  .control-group.inline *
    display: inline-block

form.inline
  max-width: 1080px
  .input > label.boolean
    margin-left: 20px

  label
    width: inherit !important
  .control-group, .input
    margin: 5px
    display: inline-block

.form-group.inline
  .checkbox
    display: inline-block
    label
      width: 100%
      margin-left: 20px
      padding-left: 0px
      input
        margin-left: 10px

.navs
  a
    padding: 5px
  a.active
    border: 1px solid #666480
    border-radius: 5px

form#items_form
  display: inline
