#tickets
  p.body
    margin-left: 20px
    border: 1px solid #7f8042
    width: 800px
    word-wrap: break-word
  .comment
    margin-left: 10px
    p.body
      margin-left: 10px
  textarea
    width: 800px
    height: 300px
  .input
    margin-left: 10px