= link_to 'Назад', [:admin, :tickets]
- user = @ticket.user
h4 = @ticket.title
.created_at Создан: #{l @ticket.created_at}
.category Категория: #{@ticket.category}
.user Пользователь: #{link_to "#{user.nickname} (#{user.id})", [:admin, user]}
.user_name Указал имя: #{@ticket.user_name}
.user_email Указал почту: #{@ticket.user_email}
- if @ticket.open?
  = button_to 'Закрыть', [:close, :admin, @ticket], method: :delete
- else
  = button_to 'Открыть', [:open, :admin, @ticket]

header Текст:
p.content style='margin: 10px' = @ticket.body

