<!--Archive-->
<div class="archive" ng-controller="archiveCtrl as archive">
    <div class="content__title">Архив тиражей «KODO»</div>
    <div class="archive__filter">
        <div class="archive__filter__line grid grid_align_center grid_justify_start">
            <div class="archive__filter__links">
                Найти по: <br>
                <a href class="archive__link archive__filter__link" ng-click="archive.filter.name = 'date'"
                   ng-class="{ active: archive.filter.name === 'date'}">Дате</a>
                <a href class="archive__link archive__filter__link" ng-click="archive.filter.name = 'circle'"
                   ng-class="{ active: archive.filter.name === 'circle'}">Тиражу</a>
            </div>
            <!--<div class="archive__checkbox" ng-click="archive.toggleSuperprize()">-->
                <!--<span class="archive__checkbox__icon">-->
                    <!--<div class="icons-check" ng-show="archive.filter.superprize"></div>-->
                <!--</span>с разыгранным суперпризом-->
            <!--</div>-->
        </div>
        <div class="archive__filter__date grid grid_justify_start grid_align_center"
             ng-show="archive.filter.name === 'date'">
            c <input type="datetime-local" class="input archive__filter__input" ng-model="archive.filter.date.min"
                     placeholder="2015-01-01T00:00:00.000">
            по <input type="datetime-local" class="input archive__filter__input" ng-model="archive.filter.date.max"
                      placeholder="2017-12-31T14:57:00.000">
        </div>
        <div class="archive__filter__circle" ng-show="archive.filter.name === 'circle'">
            <input type="text" placeholder="Номер тиража" ng-model="archive.filter.circle" class="input">
        </div>
    </div>
    <div class="archive__content">
        <div class="archive__order">
            Показывать комбинации <a href class="archive__link" ng-click="archive.order = false"
                                     ng-class="{ active: archive.order === false}">по порядку выпадения номеров</a> или
            <a href class="archive__link" ng-click="archive.order = true"
               ng-class="{ active: archive.order === true}">по возрастанию</a>
        </div>
        <div class="archive__data">
            <div class="archive__data__head archive__data__row">
                <div class="archive__data__cell">Тираж/Дата</div>
                <div class="archive__data__cell">Выпавшие числа</div>
                <div class="archive__data__cell">Выпавший бустер</div>
                <div class="archive__data__cell">Суперприз</div>
            </div>
            <div class="archive__data__item archive__data__row"
                 ng-repeat="lottery in archive.lotteries">
                <div class="archive__data__cell"><a class="link link_type_common">{{lottery.id}}</a> /
                    {{lottery.time_till |
                    date:'dd.MM.yyyy HH:mm'}}
                </div>
                <div class="archive__data__cell">
                    <span ng-show="archive.order === false">{{lottery.result.numbers.join(' ')}}</span>
                    <span ng-show="archive.order === true">{{(lottery.result.numbers | orderBy).join(' ')}}</span>
                </div>
                <div class="archive__data__cell">
                    <div class="archive__gun">
                        <div class="gun gun_mini _theme_{{archive.getTheme(lottery.result.gun)}}">
                            <div class="gun__preview">
                                <img ng-src="{{archive.getPreview(lottery.result.gun)}}" alt="" class="gun__img">
                            </div>
                            <div class="gun__info">
                                <div class="gun__title">{{archive.getTitle(lottery.result.gun)}}</div>
                                <div class="gun__subtitle">{{archive.getSubtitle(lottery.result.gun)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="archive__data__cell">{{lottery.current_superprize}} зол</div>
            </div>
        </div>
        <div class="archive__pagination" ng-repeat="link in archive.paginationLinks">
            <div class="archive__pagination__controls">
                <span>
                    <span class="pagination__pagelink {{archive.getChosen(link)}}" ng-click="archive.paginationClick(link)">{{link}}</span>
                </span>
            </div>
        </div>
    </div>
</div>