.bets ng-controller=("betsCtrl as bets") ng-show="bets.shown"
  .bets__overlay ng-click=("bets.shown = false")
  .bets__popup
    .bets__close ng-click=("bets.shown = false")
    .bets__title Мои ставки за последнее время
    .bets__tabs.grid.grid_justify_start
      .bets__tab ng-class=("{ active: bets.type === 'kodo' }") ng-click=("bets.type = 'kodo'")  KODO
      .bets__tab ng-class=("{ active: bets.type === 'stone' }") ng-click=("bets.type = 'stone'")   КНБ
    .bets__content ng-show=("bets.type === 'headshot'")
      .bets__row.bets__head
        .bets__cell Номер билета
        .bets__cell сумма выигрыша
        .bets__cell ДАТА И ВРЕМЯ
      .bets__row ng-repeat=("bet in bets.headshot")
        .bets__cell = '№ {{bet.id}}'
        .bets__cell = '{{bet.win}} зол.'
        .bets__cell = "{{bet.updated_at | date:'dd.MM.yy HH:mm'}}"
    .bets__content ng-show=("bets.type === 'kodo'")
      .bets__row.bets__head
        .bets__cell номер билета
        .bets__cell.circle тираж
        .bets__cell Множитель
        .bets__cell Отмеченные мной числа
        .bets__cell время розыгрыша
      .bets__row ng-repeat=("bet in bets.kodo | orderBy:'-created_at'")
        .bets__cell = '{{bet.id}}'
        .bets__cell.circle = '{{bet.lottery_id}}'
        .bets__cell = '{{bet.factor}}'
        .bets__cell.bets__numbers
          span.bets__numb ng-repeat=("numb in bet.numbers") = '{{numb.index}}'
          .picture__line style='width: 250px; display: inline-flex;'
            .picture__line ng-repeat=("gun in bet.guns")
              .gun.gun_tiny.bets__gun class="_theme_{{gun.theme}}"
                .gun__preview
                  img.gun__img alt="" style='height: 40px;' ng-src="{{bets.getPreview(gun)}}" /
        .bets__cell
          span = "Разыгрыш прошел  "
          span.link.link_type_common = "{{bet.created_at | date:'dd.MM.yy HH:mm'}}"
    .bets__content ng-show=("bets.type === 'stone'")
      .bets__row.bets__head
        .bets__cell style='width: 200px;' Номер игры
        .bets__cell style='width: 200px;' Ставка
        .bets__cell style='width: 200px;' Игрок 1
        .bets__cell style='width: 200px;' Игрок 2
        .bets__cell style='width: 200px;' Победил
        .bets__cell style='width: 200px;' ДАТА И ВРЕМЯ
      .bets__row ng-repeat=("bet in bets.stone")
        .bets__cell = '№ {{bet.id}}'
        .bets__cell = '{{bet.factor}} зол.'
        .bets__cell = '{{bet.user1}}'
        .bets__cell = '{{bet.user2}}'
        .bets__cell = '{{bet.winner}}'
        .bets__cell = "{{bet.updated_at | date:'dd.MM.yy HH:mm'}}"
