.broadcast.grid.grid_dir_column ng-controller="broadcastCtrl as broadcast" ng-show="broadcast.shown"
  .broadcast__close ng-click="broadcast.shown = false"
    .icons-close
  .broadcast__title Трансляция KODO
  .broadcast__subtitle Результаты тиража № {{broadcast.id}}
  .broadcast__result.grid.grid_align_center
  	.broadcast__numbers.numbers.grid.grid_wrap
      .broadcast__number.numbers__item.numbers__item_size_big ng-repeat='number in broadcast.numbers' = '{{number}}'
    / FIXME: classes
  	.numbers__item.numbers__item_size_big._status_selected
      img.broadcast__gun alt='' ng-src='{{broadcast.gunIcon}}'
  .broadcast__show.grid.grid_align_center.grid_justify_start ng-click="broadcast.auto = !broadcast.auto"
  	span.broadcast__show__icon
      span.icons-check ng-show="broadcast.auto"
  	| Показывать автоматически
