.callback.inner
  .inner__title Напишите нам
  .grid
    .inner__content.callback ng-controller="callbackCtrl as callback"
      .callback__sended.callback__subtitle ng-show="callback.sent" Ваша заявка успешно отправлена.
      form name="callbackForm" ng-hide="callback.sent" ng-submit="callbackForm.$valid && callback.addTicket()" novalidate=true
        .callback__errors ng-repeat="errors in callback.errors"
          .callback__error ng-repeat="error in errors" {{error}}
        .form__fieldset.grid
          .form__fieldset.form__fieldset_half
            label.form__label for=:callback__user_name Ваше имя*
            input.form__input.input#callback__user_name type="text" ng-model="callback.ticket.user_name" required=true
          .form__fieldset.form__fieldset_half
            label.form__label for=:callback__email Ваш email*
            input.input.form__input#callback__email type="email" ng-model="callback.ticket.user_email" required=true
        .form__fieldset
          label.form__label for=:callback__category Категория*
          select.form__select.input#callback__category ng-model="callback.ticket.category"
            option.form__option value="else" Другое
            option.form__option value="issues" Ошибка
            option.form__option value="features" Улучшение
        .form__fieldset
          label.form__label for=:callback__title Тема*
          input.form__input.input#callback__title type="text" ng-model="callback.ticket.title" required=true
        .form__fieldset
          label.form__label for=:callback__body Сообщение*
          / 21st century, using rows for textarea?
          textarea.form__input.form__input_textarea.input.input_textarea#callback__body rows="10"  ng-model="callback.ticket.body" required=true
        button.button._theme_dark.form__button ng-class="{ _disabled: !callbackForm.$valid}" Отправить сообщение
    aside.inner__aside
      .inner__subtitle Свяжитесь с нами
      .inner__text
        |Одно из основных отличий нашего сервиса от множества других – это внимательное и доброжелательное отношение ко всем нашим пользователям. Это невозможно без непосредственного общения с вами, так что благодарим, что вы решили воспользоваться нашей формой «Обратной связи».
        br &nbsp
        |  Особенно внимательно мы отнесемся к следующим вопросам:
        br
        |  - Обнаружение каких-то ошибок в работе нашего сервиса.
        br
        |  - Задержки с получением выигрыша.
        br
        |  - Предложения о сотрудничестве.
        br
        |  - Идеи по улучшению работы нашего сервиса.
        br &nbsp
        |  Так же, отдельно, мы еще раз просим вас  - не осложняйте работу службы по работе с вашими обращениями спамом, или иными действиями.
        br
        |  Иначе мы оставляем за собой право блокировать доступ на наш портал в одностороннем порядке.
      .inner__line
      .inner__subtitle Контакты
      .inner__link
        span.icons-email.inner__link__icon
        | Email:
        '
        a.link.link_type_active href="mailto:steamlotto.slim@gmail.com" steamlotto.slim@gmail.com
