.fifty.grid ng-controller="fiftyCtrl as fifty"
  main.fifty__main.content__main
    .fifty__title ng-if='fifty.game_done' = 'Ожидание начала игры'
    .fifty__title style='color: red;' ng-if='!fifty.game_done' = 'Осталось: {{fifty.timerShow}} секунд'
    .fifty__title style='background: #101922; color: orange' = '{{fifty.messageField}}'
    .grid
      .fifty__left__box2 ng-click='fifty.choseLeft()' ng-if='fifty.leftStatus != ""'
      .fifty__left__box ng-click='fifty.choseLeft()' ng-if='fifty.leftStatus == ""'
      .fifty__right__box ng-click='fifty.choseRight()' ng-if='fifty.rightStatus == ""'
      .fifty__right__box2 ng-click='fifty.choseRight()' ng-if='fifty.rightStatus != ""'
    .asd style='width: 100px; height: 30px;' ng-if='fifty.game_done != true'
    .grid ng-if='fifty.game_done == true'
      .balance__title style='margin-left: 50px; font-size: 140%;' Выберете желаемую ставку:
      .lottery__extra.lottery__factor.grid.fifty__input name='factor'
      .nav__button.button style='margin-right: 50px; width: 200px; height: 30px; line-height: 30px;' ng-if="user.logged_in  && user.balance < fifty.enter_cost" пополните баланс
      .nav__button.button style='margin-right: 50px; width: 100px; height: 30px; line-height: 30px;' ng-if="user.logged_in  && user.balance >= fifty.enter_cost" ng-click='fifty.gameButton()' Старт!
      .nav__button.button style='margin-right: 50px; width: 100px; height: 30px; line-height: 30px;' ng-if="!user.logged_in" ng-click='user.login()' Войдите
    .grid
      a.fifty__left__button class='button__{{fifty.leftStatus}}' ng-click='fifty.choseLeft()' style="margin-left: 50px; " левый
      a.fifty__left__button class='button__{{fifty.rightStatus}}' ng-click='fifty.choseRight()' style="margin-right: 50px;" правый
    a.fifty__send ng-click='fifty.gameButton()' ng-if='fifty.game_done == false' = '{{fifty.buttonField}}'
    a.fifty__send ng-if='user.balance < fifty.enter_cost && fifty.game_done == true' = 'Пополните баланс'
    .asd style= 'width: 500px; height: 80px' ng-if='user.balance >= fifty.enter_cost && fifty.game_done == true'
    .fifty__stuff__content style='margin-top: 20px'
      .grid
        .asd
          .asd ng-if="!user.logged_in" style='width: 294px; height: 105px; margin-top: 10px;'
            .balance__title style='margin: 20px 5px 0px 20px;' Чтобы сыграть в эту игру, пожалуйста, авторизуйтесь.
          balance.grid ng-if="user.logged_in" style ='font: 13px PT Sans; margin-top: 20px;'
          .asdasd ng-if='user.logged_in' style ='font: 13px PT Sans'
            .lottery__refill.button._theme_dark ng-if='!user.flaq' ng-click='user.addSelection()' Пополнить счет
            .lottery__refill.button._theme_dark ng-if='user.flaq=="selection"' ng-click='user.addMoney()' Через Робокассу
            .lottery__refill.button._theme_dark ng-if='user.flaq==  "selection"' ng-click='user.addItem()' Вещами
            .lottery__refill style='padding-left: 10px; padding-right: 10px;' ng-if='user.flaq=="money"'
              .grid
                input.input.next__one ng-model='gold_amount' placeholder='Введите количество...' type='text' value = '100'
                button.button.next__one ng-click='user.robokassa(gold_amount)' ОК
            .lottery__refill.button._theme_dark ng-if='user.flaq=="item"' ng-click="user.open_steam_window()" В Steam! 

          a.button.fifty__rule__button href='/#/rulesfifty' ПРАВИЛА
        .fifty__today__high
          /.content__dummy4
          .asd style='margin-top: 50px' Самое длинное совпадение
          br
          .asd style='font-size: 250%; font-weight: bold; line-height: 5px;' ЗА СЕГОДНЯ
          br
          .asd style='font-size: 400%; font-weight: bold' = '{{fifty.high}} из 9'
      .fifty__rule style='font-weight: bold;'
        .balance__title
          .rule__name НОВОСТИ:
          | Мы продолжаем улучшать наш сайт прямо сейчас, чтобы Вам было интереснее и приятнее.
          br &nbsp
          | Следующее обновление: "
          asd style='color: red' Звуки в fifty!
          | "
    audio id='win_sound' src=audio_path("fifty_win.mp3")
    audio id='lose_sound' src=audio_path("fifty_lose.mp3")
    audio id='start_sound' src=audio_path("fifty_start.mp3")
  aside.content__aside
    .asd class = 'fifty__kubok{{fifty.enter_cost}}'
    .balance__title История последней игры
    .fifty__table.grid ng-repeat='line in fifty.table'
      .fifry__table__field.small class ='field__{{line.left}}'
      .fifry__table__field.large style='border-right: 0px; border-left: 0px'
        .asd style='margin-top: 8px; font-size: 130%' = '{{line.win}} золотых'
      .fifry__table__field.small class ='field__{{line.right}}'
    .fifty__rules
