.input__change.input__less ng-click="fifty.factor.dec()"
.input.input__field style ='max-width: 75px;' ng-bind="fifty.factor.value"
.input__change.input__more ng-click="fifty.factor.inc()"
.lottery__prompt.grid.grid_wrap ng-if='prompt'
  span.fifty__prompt__numb [
    ng-repeat="item in fifty.factor.available"
    ng-class="{ _active: item === fifty.factor.value }"
    ng-click="fifty.factor.value = item; fifty.rework__me(item)"
  ]= '{{item}}'
