.headshot.grid ng-controller="headshotCtrl as headshot"
  main.headshot__main.content__main
    .headshot__title Билет лотереии
    .headshot__subtitle «Мне сегодня повезет»
    .headshot__prize  Возможный выигрыш от 20 до 150.000 золотых
    .headshot__ticket
      .ticket.grid.grid_dir_column style=""
        .ticket__head.ticket__line
          .ticket__title Лотерея №1 в рунете
          .ticket__info.grid
            .ticket__prize
              .ticket__prize__title выигрыш до
              .ticket__prize__value 150.000 зл.
            .ticket__price.grid.grid_dir_column.grid_justify_center
              | Цена
              '
              span.ticket__price__value 20зл.
        .ticket__status.grid.grid_dir_column.grid_justify_center
          .ticket__button ng-class="{ _erased: headshot.prize }"
            span ng-if="!headshot.prize" НЕ СТИРАТЬ
            span ng-if="headshot.prize" {{headshot.prize}} зол
        .ticket__foot.ticket__line
          .ticket__logo
            .icons-logo-cs
    .headshot__send ng-if="!headshot.prize" ng-click="headshot.buy()" Пуск
    .headshot__send ng-if="headshot.prize" ng-click="headshot.prize = null" Ещё раз
    .headshot__barcode style='margin-bottom: 145px;'
      .headshot__number Билет №200150029
      .icons-barcode
  aside.content__aside
    .headshot__aside
      balance.grid style ='font: 13px PT Sans'
      .asdasd ng-if='user.logged_in' style ='font: 13px PT Sans'
        .lottery__refill.button._theme_dark ng-if='!user.flaq' ng-click='user.addSelection()' Пополнить счет
        .lottery__refill.button._theme_dark ng-if='user.flaq=="selection"' ng-click='user.addMoney()' Через Робокассу
        .lottery__refill.button._theme_dark ng-if='user.flaq==  "selection"' ng-click='user.addItem()' Вещами
        .lottery__refill style='padding-left: 10px; padding-right: 10px;' ng-if='user.flaq=="money"'
          .grid
            input.input.next__one ng-model='gold_amount' placeholder='Введите количество...' type='text' value = '100'
            button.button.next__one ng-click='user.robokassa(gold_amount)' ОК
        .lottery__refill style='padding-left: 10px; padding-right: 10px;' ng-if='user.flaq=="item"'
          a.button.button.next__one href='https://steamcommunity.com/tradeoffer/new/?partner=256857991&token=TZLMJN9v' В Steam!
      a.headshot__rules.button._theme_dark._theme_dark-dark href='#/rulesheadshot' правила
      .headshot__aside__title Билеты
      .headshot__list
