.lottery.grid ng-controller="lotteryCtrl as lottery"
  .content__main
    .lottery__hand.grid.grid_align_start ng-show="lottery.type === 'hand'"
      .choice
        .choice__title Первая часть поля
        .choice__wrap
          .choice__head.grid.grid_align_center.grid_justify_start
            .choice__head__icon
              .icons-info
            .choice__head__title
              | Ставка {{lottery.bet_id + 1}}
              div ng-hide="lottery.bet().numbers.length === 8" Отметьте {{ 8 - bet().numbers.length }} чисел
              div ng-show="lottery.bet().numbers.length === 8" Вы отметили все числа
          .choice__body.numbers.grid.grid_wrap
            .numbers__item[
              ng-repeat="number in lottery.numbers"
              ng-class="{ _status_selected: number.selected }"
              ng-click="number.toggle()"
            ] = '{{number.index}}'
      .choice
        .choice__title Вторая часть поля
        .choice__wrap
          .choice__head.grid.grid_align_center.grid_justify_start
            .choice__head__icon
              .icons-star-round
            .choice__head__title Хотите выйграть больше?
          .choice__body.grid.grid_wrap
            .gun.lottery__gun[
              ng-repeat="gun in lottery.guns"
              ng-class="{ _theme_{{gun.theme}}: gun.selected }"
              ng-click="gun.toggle()"
            ]
              .gun__preview
                img.gun__img ng-src="{{gun.preview}}" alt=""
              .gun__info.grid.grid_dir_column.grid_justify_center
                .gun__title = '{{gun.title}}'
                .gun__subtitle ng-if="gun.subtitle" = '{{gun.subtitle}}'
          .lottery__clean ng-click="lottery.cleanBet()" Очистить
    .lottery__multi ng-show="lottery.type === 'multi'"
      .lottery__fieldset.grid.grid_align_center
        .lottery__label Билетов
        .lottery__extra.lottery__bets.grid.lottery_input name='bets' prompt='false'
      .lottery__fieldset.lottery__scale.grid
        .lottery__scale__line ng-repeat="line in lottery.options.bets.available" ng-class="{ active: line <= lottery.options.bets.value }" ng-click="lottery.options.bets.value = line"
          span ng-if="line === 1 || line%10 === 0" {{line}}
      .grid
        .grid__col.grid__col_half
          .lottery__fieldset.grid.grid_align_center
            .lottery__label Отмеченных номеров во второй части поля
            .lottery__extra.lottery__guns.grid.lottery_input name='guns'
          .lottery__fieldset.grid.grid_align_center
            .lottery__label Множитель
            .lottery__extra.lottery__factor.grid.lottery_input name='factor'
          .lottery__fieldset.grid.grid_align_center
            .lottery__label Тиражей
            .lottery__extra.lottery__circles.grid.lottery_input name='circles'
          .lottery__fieldset.grid.grid_align_center
            .lottery__label Ставок
            .lottery__extra.lottery__extra_total = '{{lottery.multi.total_bets()}}'
          .lottery__fieldset.grid.grid_align_center
            .lottery__label Сумма
            .lottery__extra.lottery__extra_total = '{{lottery.multi.total_cost()}} зол'
        .grid__col.grid__col_half
          .lottery__login ng-if="!user.logged_in"
            | Для того, чтобы получить доступ к покупке билетов - авторизуйтесь пожалуйста.
            a.lottery__login__button.button._theme_yellow< ng-click="user.login()" Войти
          .lottery__actions ng-if="user.logged_in"
            .lottery__balance
              | Ваш баланс:
              '
              span.lottery__balance__value = '{{user.balance}} зол.'
            .lottery__send  ng-if='user.balance >= lottery.multi.total_cost()' ng-click="lottery.send()"
              | Оплатить из кошелька
              span class="icons-wallet lottery__send__icon"
            .lottery__send ng-if='user.balance < lottery.multi.total_cost()'
              | У Вас недостаточно средств
            balance.grid ng-if="user.logged_in" style ='font: 13px PT Sans; margin-top: 20px;'
              .asdasd ng-if='user.logged_in' style ='font: 13px PT Sans'
                .lottery__refill.button._theme_dark ng-if='!user.flaq'  ng-click='user.addSelection()' Пополнить счет
                .lottery__refill.button._theme_dark ng-if='user.flaq=="selection"' ng-click='user.addMoney()' Через Робокассу
                .lottery__refill.button._theme_dark ng-if='user.flaq== "selection"' ng-click='user.addItem()' Вещами
                .lottery__refill style='padding-left: 10px; padding-right: 10px;' ng-if='user.flaq=="money"'
                  .grid
                    input.input.next__one ng-model='gold_amount' placeholder='Введите количество...' type='text' value = '100'
                    button.button.next__one ng-click='user.robokassa(gold_amount)' ОК
                .lottery__refill.button._theme_dark ng-if='user.flaq=="item"' ng-click="user.open_steam_window()" В Steam!

  .content__aside.lottery__aside
    .choice__title Дополнительные настройки
    .lottery__links.grid
      a.lottery__link href="#/ruleskodo" Правила игры
      a.lottery__link href="#/archive" Архив тиражей

    .lottery__types.grid.grid_align_center
      a.lottery__type ng-class="{ active: lottery.type === 'hand' }" ng-click="lottery.type = 'hand'" Вручную
      a.lottery__type ng-class="{ active: lottery.type === 'multi' }" ng-click="lottery.type = 'multi'" Мультиставка
    div style='background: #111c25;' ng-show="lottery.type === 'hand' "
      .lottery__add.button._theme_yellow ng-click="lottery.addBet()" Добавить ставку
      .lottery__bates
        .select.lottery__bates__select
          .select__selected.lottery__bates__selected
            | Ставка {{lottery.bet_id + 1}}
            '
            span.icons-arrow-down.select__arrow ng-show="lottery.bets.length > 1"
          .select__list.lottery__bates__list ng-show="lottery.bets.length > 1"
            .lottery__bates__item ng-repeat="bet in lottery.bets" ng-class="{ active: lottery.bet_id === $index }"
              span ng-click="lottery.setBet($index)" Ставка {{$index + 1}}
              / TODO: use icon FTGJ
              span.lottery_bates_delete ng-click="lottery.removeBet($index)"  x
      .lottery__auto.grid
        .lottery__auto__button.grid.grid_justify_center.grid_align_center title="Случайно" ng-click="lottery.bet().randomize()"
          .icons-wand
        / TODO: use icon
        .lottery__auto__button.grid.grid_justify_center.grid_align_center title="Нечетные" ng-click="lottery.bet().randomize('even')" ●
        .lottery__auto__button.grid title="Четные" ng-click="lottery.bet().randomize('odd')"
          div ●
          .lottery__auto__button__bottom ●
        .lottery__auto__button.grid.grid_dir_column title="Первые 15" ng-click="lottery.bet().randomize('top')"
          .grid
            div ●
            div ●
          .grid
            div ○
            div ○
        .lottery__auto__button.grid.grid_dir_column title= "Вторые 15" ng-click="lottery.bet().randomize('bottom')"
          .grid
            div ○
            div ○
          .grid
            div ●
            div ●
      .lottery__fieldset.grid.grid_align_center
        .lottery__label Множитель
        .lottery__extra.lottery__factor.grid.lottery_input name='factor'
      .lottery__fieldset.grid.grid_align_center
        .lottery__label Тиражей
        .lottery__extra.lottery__circles.grid.lottery_input name='circles'
      .lottery__fieldset.grid.grid_align_center
        .lottery__label Ставок
        .lottery__extra.lottery__extra_total = '{{lottery.hand.total_bets()}}'
      .lottery__fieldset.grid.grid_align_center
        .lottery__label Сумма
        .lottery__extra.lottery__extra_total = '{{lottery.hand.total_cost()}} зол'
      .lottery__login ng-if="!user.logged_in"
        | Для того, чтобы получить доступ к покупке билетов - авторизуйтесь пожалуйста.
        '
        a.lottery__login__button.button._theme_yellow ng-click="user.login()" Войти
      .lottery__actions ng-if="user.logged_in"
        .lottery__balance
          | Ваш баланс:
          '
          span.lottery__balance__value = '{{user.balance}} зол.'
        .lottery__send.button._theme_dark._theme_dark-blue._theme_dark-dark ng-if='user.balance >= lottery.hand.total_cost()' ng-click="lottery.send()"
          | + Оплатить из кошелька
          '
          span.icons-wallet.lottery__send__icon
        .lottery__send._theme_dark._theme_dark-blue._theme_dark-dark ng-if='user.balance < lottery.hand.total_cost()'
          | У Вас недостаточно средств
          '
        .lottery__refill.button._theme_dark ng-if='!user.flaq' ng-click='user.addSelection()' Пополнить счет
        .lottery__refill.button._theme_dark ng-if='user.flaq=="selection"' ng-click='user.addMoney()' Через Робокассу
        .lottery__refill.button._theme_dark ng-if='user.flaq==  "selection"' ng-click='user.addItem()' Вещами
        .lottery__refill style='padding-left: 10px; padding-right: 10px;' ng-if='user.flaq=="money"'
          .grid
            input.input.next__one ng-model='gold_amount' placeholder='Введите количество...' type='text' value = '100'
            button.button.next__one ng-click='user.robokassa(gold_amount)' ОК
        .lottery__refill style='padding-left: 10px; padding-right: 10px;' ng-if='user.flaq=="item"'
          a.button.button.next__one href='https://steamcommunity.com/tradeoffer/new/?partner=256857991&token=TZLMJN9v' В Steam!
    div style='background: #111c25;' ng-show="lottery.type === 'multi' "
      .markdown
        h3 МУЛЬТИСТАВКА
        p
          | Мультиставка – это  самый быстрый способ купить множество билетов и тем самым увеличить  свой шанс на крупный выигрыш. Каждый билет будет заполняться автоматически в соответствие с выбранными настройками.
          br &nbsp
          |  В случае выигрыша крупных призов, отдельная просьба связаться с администрацией портала для взятия у вас интервью и всяческого освещения вашей удачи. И помните, Фортуна любит решительных!