.input__change.input__less ng-click="lottery.options[name].dec()"
.input.input__field ng-bind="lottery.options[name].value"
.input__change.input__more ng-click="lottery.options[name].inc()"
.lottery__prompt.grid.grid_wrap ng-if='prompt'
  span.lottery__prompt__numb[
    ng-repeat="item in lottery.options[name].available"
    ng-class="{ _active: item === lottery.options[name].value }"
    ng-click="lottery.options[name].value = item"
  ]= '{{item}}'
