.mainpage
  .main__block
    .main__text
      .main__welcome Добро пожаловать на портал лотерей, связанных со Steam!
      br &nbsp
      | У нас Вы можете собственноручно проверить свою удачу,  сыграв в игру
      a.main__linktext href='#/fifty' "50/50"
      | и поучаствовав в одной из наших лотерей:
      a.main__linktext href='#/kodo' KODO
      | или
      a.main__linktext href='#/headshot' HEADSHOT.
      | И сразу обналичить свои выигрыши в нашей ДОСТАВКЕ ПРИЗОВ.
      br
      | Все это будет Вам доступно после
      a.main__linktext style='color: #6D9B2F' ng-click="user.login()" ng-href='#/' авторизации
      |через steam.
  .main__block
    a.main__img4 href='#/fifty' style='float:left'
    .main__text
      .main__podzogolovok href='#/fifty' 50/50
      span style='font-style: italic; font-size: 66%; line-height: 30px;' "Забрать или продолжить?"
      br
      span style='font-weight: bolder;' Игра «50/50» - это игра, простая как подбрасывание монетки и сложная, как выбор сапера «какой провод перерезать?».
      br &nbsp
      | По правилам игры - мы предоставляем Вам на выбор два ящика.  В одном из них выигрыш. Ваша задача успеть решить в котором из них он находится до того момента, как на таймере закончится время.
      br &nbsp
      | Но самое интересное заключается в том, что в этой игре несколько туров! Более подробно об этом можно узнать в разделе
      a.main__linktext href='#/rulesfifty' «правила игры 50/50».
      | А сейчас же стоит упомянуть только то, что в любой момент в игре
      a.main__linktext href='#/fifty' «50/50»
      | Вы можете остановиться и забрать свой приз.
      br
      | Или… продолжить?
  .main__block
    a.main__img1 href='#/kodo' style='float:right'
    .main__text
      .main__podzogolovok href='#/kodo' KODO
      span style='font-style: italic; font-size: 66%; line-height: 30px;' "Отметил-отметил-отметил, выбрал, подождал - выйграл!".
      br
      span style='font-weight: bolder;' Лотерея KODO – это тиражная лотерея, которая проводится каждые 15 минут.
      br
      | Для того чтобы поучаствовать в ней, Вам необходимо заполнить предложенный лотерейный билет и дождаться текущего розыгрыша.
      br &nbsp
      | Минимальный приз равен стоимости двойной ставки.
      br
      | Для его выигрыша необходимо угадать всего лишь 3 из 8 выигрышных чисел в первом поле и одну картинку во втором. С более подробной инструкцией и таблицей выплат Вы можете ознакомиться в
      a.main__linktext href='#/ruleskodo' правилах лотереи KODO
      | или же сразу попробовать поучаствовать  в ней, перейдя на
      a.main__linktext href='#/kodo' страницу лотереи.
  .main__block
    a.main__img2 href='#/headshot' style='float:left'
    .main__text
      .main__podzogolovok href='#/headshot' HEADSHOT
      span style='font-style: italic; font-size: 66%; line-height: 30px;' "Нажал - выиграл!"
      br
      | Мгновенная
      a.main__linktext href='#/headshot' лотерея HEADSHOT
      | максимально проста. Все, что Вам необходимо – это нажать кнопку «Пуск» и узнать свой выигрыш. Выигрыши определяются случайным образом и достигают 10.000 золотых. Сумма выплат определяется Федеральным законом от 11.11.2003 N 138-ФЗ (ред. от 28.12.2013) "О лотереях".
      br
      | Мы не нарушаем закон, в отличие от большинства прочих рулеток и лотерей, связанных со Steam.
      br &nbsp
      | Более подробно о размерах выплат Вы можете узнать также на странице
      a.main__linktext href='#/rulesheadshot' правил лотереи HEADSHOT.
  .main__block
    a.main__img3 href='#/store' style='float:right'
    .main__text
      .main__podzogolovok href='#/store' ДОСТАВКА ПРИЗОВ
      | Обналичить свои выигрыши Вы можете с помощью нашей доставки призов.  Для этого Вам необходимо перейти в
      a.main__linktext href='#/store' соответствующий раздел
      |и выбрать, какими вещами Вы хотите его получить.  Все вещи отправляются непосредственно на Ваш steam-аккаунт в автоматическом режиме.
      br
      a style='color: red' ВНИМАНИЕ:
      br
      | Настоятельно просим! Во избежание недоразумений и лишних беспокойств, ознакомьтесь с процедурой доставки вещей в
      a.main__linktext href='#/rulesshop' соответствующем разделе правил!
