.rules__main
  .grid
    a.rules__button href='#/rulesfifty'
      span style="top: 28%; position: relative;" 50/50
    a.rules__button__chosen  href='#/ruleskodo'
      span style="top: 28%; position: relative;" Правила KODO
    a.rules__button  href='#/rulesheadshot'
      span style="top: 28%; position: relative;" Правилa КНБ
    a.rules__button  href='#/rulesshop'
      span style="top: 28%; position: relative;" Доставка призов
  .rules__main__text
    .rules__description
      | «KODO» — это первая steam-лотерея с использованием двойной матрицы: чтобы сделать ставку, нужно выби
      | рать числа сразу в двух частях игрового поля (первой и второй), а чтобы выиграть, необходимо угадать нужное количество чисел хотя бы в первой части поля. Пр
      | изовой фонд игры составляет 68%. Это позволяет начислять выигрыши сразу по 11 категориям, одна из которых — изменяющийся от тиража к тиражу суперприз.
    br
    a.rules__jumper href='#/ruleskodo/#r1' 1. Что такое «Золотой»?
    br
    a.rules__jumper href='#/ruleskodo/#r2' 2. Что такое «KODO»?
    br
    a.rules__jumper href='#/ruleskodo/#r3' 3. Как играть?
    br
    a.rules__jumper href='#/ruleskodo/#r4' 4. Что можно выиграть?
    br
    a.rules__jumper href='#/ruleskodo/#r5' 5. Как получить выигрыш?
    br
    a.rules__jumper href='#/ruleskodo/#r6' 6. Как проходит розыгрыш?
    br
    a.rules__jumper href='#/ruleskodo/#r7' 7. Как распределяется призовой фонд в «KODO»?
    br
    a.rules__jumper href='#/ruleskodo/#r8' 8. Где узнать результаты розыгрышей «KODO»?
    br &nbsp
    a.rule__name name='r1' Что такое «Золотой»?
    .rule__description
      | Золотой – это аналог денежных знаков на нашем сайте. Авторизованный пользователь может пополнить свой кошелек золотых при помощи сервиса «Робокассы» по курсу:
      br
      | 1 золотой = 1 рубль.
      br &nbsp
      | Золотые можно обменивать на один или несколько скинов во вкладке «Доставка призов»,  в соответствии с указанным курсом. Доставка вещей производится бесплатно.
    br &nbsp
    a.rule__name name='r2' Что такое «KODO»?
    .rule__description
      | «KODO» — это числовая тиражная лотерея, которая проводится в режиме реального времени. Особенностью игры являетс
      | я то, что игровое поле состоит из двух частей — первой и второй. Стоимость минимальной ставки составляет 30 рубле
      | й. Во время оформления ставки используется множитель, который значительно увеличивает сумму возможного выигрыша. Д
      | ля определения выигрышной комбинации, которая состоит из 8 чисел для первой части поля и 1 картинки для второй, ис
      | пользуется лотерейное оборудование «Генератор случайных чисел» (ГСЧ). Тиражи проводятся каждые 15 минут. Прием ставок на ближайший тираж продолжается вплоть до его начал
      | а. Самый крупный выигрыш составляет 11 миллионов рублей + сумма накопленного суперприза. Чтобы его получить, нужно уг
      | адать 8 чисел в первой части поля и 1 картинку во второй с применением множителя 100 и использованием развернутой ставки — отметив 4 числа во второй части игрового поля.
    br &nbsp
    a.rule__name name='r3' Как играть?
    .rule__description
      | Игровой купон включает в себя 1 игровое поле, состоящее из 2 частей (первой и второй). Цель игры — угадать нужно
      | е количество чисел. Минимальный выигрыш составляет 30 рублей и начисляется, если вы угадали 3 числа в первой част
      | и поля и 1 картинку во второй части, а максимальный (он называется «суперприз») — если Вы угадали все 8 чисел в пе
      | рвой части поля и 1 картинку во второй части. Применение множителя увеличивает стоимость ставки, но также увеличи
      | т и размер потенциального выигрыша.
      br &nbsp
      .rule__name Оформление каждой ставки включает в себя 3 этапа
      br &nbsp
      | 1. Выберите 8 чисел от 1 до 30 в первой части поля и 1 картинку  во второй части.
      .rules__img1
      | Для оформления развернутой ставки во второй части игрового поля нужно выбрать от 2 до 4 картинок.
      .rules__img2
      .asd style='font-style: italic; text-align: center;' Если хотите, чтобы числа выбрал компьютер, используйте опцию «Автоматически».
      br &nbsp
      | 2. Укажите количество тиражей от 1 до 30.
      br
      | 3. Укажите множитель от 1 до 100.
      br &nbsp
      | Выигрышная комбинация состоит из 8 чисел в первой части поля и 1 числа во второй. Чем больше чисел Вы угадал
      | и, тем больше Ваш выигрыш. Выигрыши начисляются также и в том случае, если Вы угадали от 4 до 8 чисел в перво
      | й части поля, не угадав ничего во второй.
    br &nbsp
    a.rule__name name='r4' Что можно выиграть?
    .rule__description
      | Выигрыши в «KODO» фиксированы и не зависят от количества участников тиража. Минимальный выигрыш составляет 60 ру
      | блей. Чтобы стать победителем, достаточно угадать 4 числа в первой части поля или 3 числа в первой части поля плю
      | с одну картинку во второй. Всего в «KODO» предусмотрены 11 категорий выигрышей, причем 5 из них выплачиваются по с
      | тавкам, где картинка во второй части игрового поля угадана не была.
      br
      | При игре развернутой ставкой становятся выше не только ваши шансы на выигрыш, но и его возможная сумма.
      br &nbsp
      | Максимальный выигрыш составляет 11 миллионов рублей + сумма накопленного суперприза. Он возможен, если Вы угадал
      | и 8 чисел в первой части поля и 1 картинку во второй с применением 100-кратного множителя и использовали разверну
      | тую ставку — отметили 4 числа во второй части игрового поля.
      br
      | Ниже приведена таблица выигрышей по всем категориям. Если Вы применяли множитель, то для расчета выигрыша умножьте число вашего множителя на сумму, указанную в таблице.
      br &nbsp
      | Например: Вы отметили 8 чисел в первой части поля, 3 числа во второй и угадали 7 чисел в первой части поля и 1 ч
      | исло во второй. Выигрыш без множителя составил бы 7 500 рублей, а с его применением он увеличился бы до 750 000 рублей.
      br &nbsp
      | Виды выигрышей «KODO»:
      .rules__img3
      .rule__name style='text-align: center;' Только в «KODO»! 68% стоимости каждой ставки направляется в призовой фонд!
    br &nbsp
    a.rule__name name='r5'  Как получить выигрыш?
    .rule__description
      | После проведения очередного тиража выигранные золотые автоматически зачисляются на счет пользователя, после чег
      | о пользователь может обменять их на один или несколько предложенных на соответствующей странице скинов или оплати
      | ть ими билет одной из лотерей.
      br
      | О способе получение скинов на свой steam-аккаунт Вы можете узнать в соответствующем разделе правил.
    br &nbsp
    a.rule__name name='r6' Как проходит розыгрыш?
    .rule__description
      | Тиражи «KODO» проходят каждые 15 минут (возможен технический перерыв по усмотрению администрации портала). В ро
      | зыгрыше призового фонда тиража участвуют только зарегистрированные в лотерейной системе ставки. Учет ставок и нач
      | исление выигрышей полностью автоматизированы и исключают возможность стороннего вмешательства. Продажи на ближайш
      | ий тираж продолжаются вплоть до его начала.
      br
      | Для определения выигрышной комбинации используется генератор случайных чисел.
      br
      | Выигрышная комбинация состоит из 8 чисел + 1 картинка  и определяется в течение нескольких секунд.  Результа
      | ты тиража автоматически публикуются на сайте steamlotto.ru через несколько минут после проведения розыгрыша.
    br &nbsp
    a.rule__name name='r7' Как распределяется призовой фонд в «KODO»?
    .rule__description
      | Призовой фонд игры составляет 68% от выручки. После определения выигрышной комбинации проводится подсчет резуль
      | татов и распределение выигрышей по всем 11 категориям. Каждая ставка может выиграть только в одной категории выигрышей.
      br
      | Суперприз выплачивается победителю, угадавшему одновременно 8 чисел в первой части поля и 1 число во второй. Су
      | мма суперприза рассчитывается после распределения призового фонда по всем остальным категориям. Если в текущем ти
      | раже никто не угадал количество чисел 8 + 1, накопленная сумма переходит на следующий тираж.
      br
      | Суперприз может уменьшаться от тиража к тиражу в случае, если сумма выплат превысила 68% от выручки.
    br &nbsp
    a.rule__name name='r8' Где узнать результаты розыгрышей «KODO»?
    .rule__description
      | Результаты всех розыгрышей можно узнать на сайте steamlotto.ru во вкладки “Архив тиражей”.