.rules__main
  .grid
    a.rules__button__chosen href='#/rulesfifty'
      span style="top: 28%; position: relative;" 50/50
    a.rules__button  href='#/ruleskodo'
      span style="top: 28%; position: relative;" Правила KODO
    a.rules__button  href='#/rulesheadshot'
      span style="top: 28%; position: relative;" Правилa КНБ
    a.rules__button  href='#/rulesshop'
      span style="top: 28%; position: relative;" Доставка призов
  .rules__main__text
    .rules__description
      | Игра «50/50» это очень простая игра, основанная на выборе и состоящая из нескольких туров. Стоимость участи
      | я в ней составляет 50 золотых, которые Вы можете превратить в 85 золотых уже на первом туре всего за 6 секун
      | д. Для этого Вам нужно выбрать один из двух предложенных нами ящиков до момента истечения времени на таймере.
      br
      |  Если Вы угадали – поздравляем! Вы можете забрать свой приз прямо сейчас и обменять его на скины в нашем раз
      | деле доставки. Но предлагаем Вам и другую возможность: перейти в следующий тур и попробовать повторить свой ус
      | пех. Разумеется, мы каждый раз будем удваивать Ваш приз в случае победы.
      br
      |  Всего в игре 9 туров, в последнем из которых выигрыш составляет 22.800 золотых. И абсолютно любой участник мо
      | жет получить его, оплатив только входной билет в игру стоимостью 50 золотых.
    br
    a.rules__jumper href='#/rulesfifty/#r1' 1. Что такое «Золотой»?
    br
    a.rules__jumper href='#/rulesfifty/#r2' 2. Когда начинается игра?
    br
    a.rules__jumper href='#/rulesfifty/#r3' 3. Как определяется, какой ящик выигрышный?
    br
    a.rules__jumper href='#/rulesfifty/#r4' 4. А вдруг Вы меня обманываете, и числа генерируются как-то нечестно?
    br
    a.rules__jumper href='#/rulesfifty/#r5' 5. Сколько времени у меня есть на принятие решения?
    br
    a.rules__jumper href='#/rulesfifty/#r6' 6. Что произойдет, если я не успею выбрать ни один ящик до конца времени?
    br
    a.rules__jumper href='#/rulesfifty/#r7' 7. А если у меня случилось что-то, что помешало мне принять решение, и таймер достиг нуля?
    br
    a.rules__jumper href='#/rulesfifty/#r8' 8. А сколько золотых я могу забрать после каждого тура?
    br
    a.rules__jumper href='#/rulesfifty/#r9' 9. Я выиграл. Где я теперь могу обменять выигранные мною золотые?
    br &nbsp
    a.rule__name name='r1' Что такое «Золотой»?
    .rule__description
      | Золотой – это аналог денежных знаков на нашем сайте. Авторизованный пользователь может пополнить свой кошелек золотых при помощи сервиса «Робокассы» по курсу
      br
      | 1 золотой = 1 рубль.
      br &nbsp
      | Золотые можно обменивать на один или несколько скинов во вкладке «Доставка призов»,  в соответствии с указанным курсом. Доставка вещей производится бесплатно.
    br &nbsp
    a.rule__name name='r2' Когда начинается игра?
    .rule__description
      | Игра начинается, как только вы нажали кнопку «Старт: 50 золотых». После этого с Вашего баланса спишутся 50 золотых, а Вы окажитесь в первом туре.
    br &nbsp
    a.rule__name name='r3' Как определяется, какой ящик выигрышный?
    .rule__description
      | Методом генерации случайных чисел. В момент , когда заканчивается время в очередном туре, на сервере случа
      | йно генерируется одно из двух числовых значений. Представление каждого из этих чисел – свой ящик. Таким обра
      | зом, нашу игру можно сравнить с подбрасыванием монетки. Никто не знает, что выпадет в очередной раз – все определяет случай.
    br &nbsp
    a.rule__name name='r4' А вдруг Вы меня обманываете, и числа генерируются как-то нечестно?
    .rule__description
      | Нет, все числа генерируются случайным образом программно.
      br
      | Кроме того, чтобы у вас точно не оставалось сомнений в отсутствие обмана с нашей стороны, мы даем Вам возмож
      | ность в любой момент (до истечения времени отпущенного на раунд) забрать Ваш приз и прекратить игру.
      br
      | Можете играть не дольше одного тура каждый раз и Вы увидите, что шансы действительно 50/50.
    br &nbsp
    a.rule__name name='r5' Сколько времени у меня есть на принятие решения?
    .rule__description
      | В первом туре на принятие решения у Вас есть 6 секунд.  Дальше постепенно время, отведенное  на каждый тур, будет увеличиваться.
    br &nbsp
    a.rule__name name='r6' Что произойдет, если я не успею выбрать ни один ящик до конца времени?
    .rule__description
      | Вы, к сожалению, проиграете.
      br
      | Постарайтесь ни в коем случае не спешить, но и не затягивать с принятием решения.
    br &nbsp
    a.rule__name name='r7' А если у меня случилось что-то, что помешало мне принять решение, и таймер достиг нуля?
    .rule__description
      | В этом случае Вы так же, к сожалению, проиграете.
      br
      | Мы не несем ответственности за такие ситуации.
      br
      | Пожалуйста, постарайтесь сделать так, чтобы такие вещи как: потеря доступа в интернет, случайно закрытый брау
      | зер, обновленная вкладка с игрой, перезагрузка компьютера и прочее – не лишили Вас заслуженного приза.
    br &nbsp
    a.rule__name name='r8' А сколько золотых я могу забрать после каждого тура?
    .rule__description
      | После каждого тура Вы можете забрать от 85, до 22800 золотых. Полный список выигрышей Вы можете посмотр
      | еть на странице с игрой в специальной таблице, которая будет так же показывать Ваш путь удачи.
    br &nbsp
    a.rule__name name='r9' Я выиграл. Где я теперь могу обменять выигранные мною золотые?
    .rule__description
      | В нашем отделе доставки призов. Он полностью к вашим услугам.

