.stone ng-controller="stoneCtrl as stone"
  .stone__main__background
    .stone__welcome ng-if='stone.registry["status"]=="close"'
      .stone__main__sticker
      .stone__main__info__bar.grid ng-if='user.balance >= 10 && user.logged_in'
        .stone__main__info.graytext Для начала игры сделайте ставку и нажмите
        .stone__main__info.yellowtext ng-click='stone.sendFactor()' ng-if='stone.registry["game"].factor!=0'  "В бой!"
        .stone__main__info.graytext_vboy ng-if='stone.registry["game"].factor==0'  "В бой!"
      .stone__main__info__bar ng-if='user.balance < 10 && user.logged_in'
        .stone__main__info.graytext Недостаточно средств. Пополните баланс.
      .stone__main__info__bar ng-if='!user.logged_in'
        .stone__main__info.graytext войдите, чтобы начать игру
      .stone__bet__buttons.grid
        .asd class='stone__bet__button__{{stone.lobby.firstButtonStatus}}' ng-click='stone.lobby.setFactor("first")' style='margin-left: 150px;' 10
        .asd class='stone__bet__button__{{stone.lobby.secondButtonStatus}}' ng-click='stone.lobby.setFactor("second")' 100
      .stone__link__field.grid
        .stone__balance__field ng-if='user.logged_in'
          .stone__orange__text  Ваш Баланс:
          .stone__gray__text ="{{user.balance}}"
        .stone__start__button__yellow ng-click='stone.sendFactor()' ng-if='(stone.registry["game"].factor>0) && user.logged_in' в бой
        .stone__start__button__gray  ng-if='(!stone.registry["game"].factor>0) && (user.logged_in)' в бой
        a.stone__gray__text ng-href='#/rulesheadshot' правила
        .stone__gray__text ng-controller='statCtrl as stat' ng-if='user.logged_in' ng-click="stat.bets('stone')" история побед
      .stone__bottom__field

    .stone__process__application ng-if='stone.registry["status"]== "wait"'
      .stone__process__application__top
        .stone__process__application__timer ng-if='(stone.time[3]>=3)'
          audio id="round_ended" src=audio_path("stones_roundended.mp3")
          .stone__process__application__timer ="{{stone.time[3]-2}}"
        .stone__process__application__winner ng-if="((stone.time[3]<3) && (stone.registry['rounds'][stone.registry['rounds'].length-1].status!='ничья'))"
          .stone__process__application__winner__caption Победитель в этом раунде:
          .stone__process__application__winner__name ="{{stone.registry['result'][stone.registry['result'].length-1].status}}"
        .stone__process__application__winner ng-if="(stone.time[3]<3) && (stone.registry['rounds'][stone.registry['rounds'].length-1].status=='ничья')"
          .stone__process__application__winner__caption В этом раунде ничья
          .stone__process__application__winner__name Переигровка
      .stone__process__application__body ng-if='((stone.time[3]<3))'
        .stone__process__body__game__card
          .stone__process__body__game__card__caption ="{{stone.users[1].nickname}}"
          .stone__process__application__card class=("stone__process__application__card__{{stone.registry['result'][stone.registry['result'].length-1].user1_pass}}")
          .stone__process__body__game__card__footer
        .stone__process__body__info
          .stone__search__info
            .stone__search__vs
        .stone__process__body__game__card
          .stone__process__body__game__card__caption ="{{stone.users[2].nickname}}"
          .stone__process__application__card class=("stone__process__application__card__{{stone.registry['result'][stone.registry['result'].length-1].user2_pass}}")
          .stone__process__body__game__card__footer

    .stone__process ng-if='stone.registry["status"]=="play"'
      .stone__process__background
        .stone__process__header В игре 5 раундов, по итогам 5-ти раундов выбирается победитель, который забирает банк
      .stone__process__footer
      .stone__process__main
        .stone__process__main__profile
          .stone__process__main__profile__ava
            img style='width:95px; height:95px' ng-src="{{user.avatar}}"
          .stone__process__main__profile__creditals
            .stone__process__main__profile__creditals__username ="{{user.nickname}}"
            .stone__process__main__profile__creditals__balance Ваш баланс
            .stone__process__main__profile__creditals__balance__amount ="{{user.balance}}"
        .stone__process__main__game
          .stone__process__main__game__item ng-click="stone.sendBet('stone')"
            .stone__process__main__game__item__caption Камень
            .stone__process__main__game__item__img__stone.stone__process__main__game__item__img ng-if="stone.bet!='stone'"
            .stone__process__main__game__item__img__stone.stone__process__main__game__item__img.stone__process__main__game__item__img__selected ng-if="stone.bet=='stone'"
          .stone__process__main__game__item ng-click="stone.sendBet('scissors')"
            .stone__process__main__game__item__caption Ножницы
            .stone__process__main__game__item__img__scissors.stone__process__main__game__item__img ng-if="stone.bet!='scissors'"
            .stone__process__main__game__item__img__scissors.stone__process__main__game__item__img.stone__process__main__game__item__img__selected ng-if="stone.bet=='scissors'"
          .stone__process__main__game__item ng-click="stone.sendBet('paper')"
            .stone__process__main__game__item__caption Бумага
            .stone__process__main__game__item__img__paper.stone__process__main__game__item__img ng-if="stone.bet!='paper'"
            .stone__process__main__game__item__img__paper.stone__process__main__game__item__img.stone__process__main__game__item__img__selected ng-if="stone.bet=='paper'"
          .stone__process__main__game__hint
      .stone__process__body
        .stone__process__body__game__card
          .stone__process__body__game__card__caption ="{{stone.users[1].nickname}}"
          .stone__process__body__game__card__wrapper ng-if="stone.time[1]!=null"
            .stone__process__body__game__card__wrapper__text ng-if="stone.users[1].nickname != user.nickname" Противник выбирает карточку...
            .stone__process__body__game__card__wrapper__text ng-if="stone.users[1].nickname == user.nickname" Если вы не сделаете выбор, то система сделает его за Вас :)
            .stone__process__body__game__card__wrapper__timer
              .stone__process__body__game__card__wrapper__timer__head ng-if="stone.users[1].nickname == user.nickname" Торопитесь, осталось
              .stone__process__body__game__card__wrapper__timer__head ng-if="stone.users[1].nickname != user.nickname" Осталось
              .stone__process__body__game__card__wrapper__timer__body ="{{stone.time[1]}}"
              .stone__process__body__game__card__wrapper__timer__footer секунд!
          .stone__process__body__game__card__wrapper ng-if="stone.time[1]==null"
            .stone__process__body__game__card__wrapper__message ng-if="stone.users[1].nickname != user.nickname"
              .stone__process__body__game__card__wrapper__yellow__big Противник
              .stone__process__body__game__card__wrapper__yellow__small готов!
              .stone__process__body__game__card__wrapper__timer__footer Чешитесь быстрее :)
            .stone__process__body__game__card__wrapper__message ng-if="stone.users[1].nickname == user.nickname"
              .stone__process__body__game__card__wrapper__yellow__big Ожидание
              .stone__process__body__game__card__wrapper__yellow__small хода </br>противника
          .stone__process__body__game__card__footer ="{{'Ставка: '+stone.registry['game'].factor}}"
        .stone__process__body__info
          .stone__process__body__info__game ng-if="stone.registry['rounds'].length<5"
            .stone__process__body__info__smalltext Идет
            .stone__process__body__info__bigtext ="{{stone.registry['rounds'].length +' из 5'}}"
            .stone__process__body__info__smalltext раундов
          .stone__process__body__info__game ng-if="stone.registry['rounds'].length==5"
            .stone__process__body__info__bigtext Финал
          .stone__process__body__info__bank
            .stone__process__body__info__bigtext Банк
            .stone__process__body__info__smalltext ="{{2*stone.registry['game'].factor+' зол.'}}"
        .stone__process__body__game__card
          .stone__process__body__game__card__caption ="{{stone.users[2].nickname}}"
          .stone__process__body__game__card__wrapper ng-if="stone.time[2]!=null"
            .stone__process__body__game__card__wrapper__text ng-if="stone.users[2].nickname != user.nickname" Противник выбирает карточку...
            .stone__process__body__game__card__wrapper__text ng-if="stone.users[2].nickname == user.nickname" Если вы не сделаете выбор, то система сделает его за Вас :)
            .stone__process__body__game__card__wrapper__timer
              .stone__process__body__game__card__wrapper__timer__head ng-if="stone.users[2].nickname == user.nickname" Торопитесь, осталось
              .stone__process__body__game__card__wrapper__timer__head ng-if="stone.users[2].nickname != user.nickname" Осталось
              .stone__process__body__game__card__wrapper__timer__body ="{{stone.time[2]}}"
              .stone__process__body__game__card__wrapper__timer__footer секунд!
          .stone__process__body__game__card__wrapper ng-if="stone.time[2]==null"
            .stone__process__body__game__card__wrapper__message ng-if="stone.users[2].nickname != user.nickname"
              .stone__process__body__game__card__wrapper__yellow__big Противник
              .stone__process__body__game__card__wrapper__yellow__small готов!
              .stone__process__body__game__card__wrapper__timer__footer Чешитесь быстрее :)
            .stone__process__body__game__card__wrapper__message ng-if="stone.users[2].nickname == user.nickname"
              .stone__process__body__game__card__wrapper__yellow__big Ожидание
              .stone__process__body__game__card__wrapper__yellow__small хода </br>противника
          .stone__process__body__game__card__footer ="{{'Ставка: '+stone.registry['game'].factor}}"
      .stone__process__stats
        .stone__process__stats__caption Результаты побед в раундах
        table
          tr
            th
              .stone__process__stats__th Раунд 1:
            th
              .stone__process__stats__th Раунд 2:
            th
              .stone__process__stats__th Раунд 3:
            th
              .stone__process__stats__th Раунд 4:
            th
              .stone__process__stats__th Финал:
          tr
            td ng-if="stone.registry['result'][0].status!=null" ="{{stone.registry['result'][0].status}}"
            td ng-if="stone.registry['result'][0].status==null" ???
            td ng-if="stone.registry['result'][1].status!=null" ="{{stone.registry['result'][1].status}}"
            td ng-if="stone.registry['result'][1].status==null" ???
            td ng-if="stone.registry['result'][2].status!=null" ="{{stone.registry['result'][2].status}}"
            td ng-if="stone.registry['result'][2].status==null" ???
            td ng-if="stone.registry['result'][3].status!=null" ="{{stone.registry['result'][3].status}}"
            td ng-if="stone.registry['result'][3].status==null" ???
            td ng-if="stone.registry['result'][4].status!=null" ="{{stone.registry['result'][4].status}}"
            td ng-if="stone.registry['result'][4].status==null" ???

    .stone__search ng-if='stone.registry["status"]=="search"'
      .stone__search__leave ng-if="stone.time[0]==null" ng-click='stone.search.sendLeave()' Завершить поиск
      audio id="game_founded" src=audio_path("stones_founded.mp3") ng-if="stone.time[0]!=null"
      .stone__search__body
        .stone__search__card
          .stone__search__card__ava ng-if="stone.users[1].avatar!=null"
            img style="width:100%; height:100%;" ng-src="{{stone.users[1].avatar}}"
          .stone__search__card__ava ng-if="stone.users[1].avatar==null" ?
          .stone__search__card__caption ng-if="stone.users[1].nickname!=null" ="{{stone.users[1].nickname}}"
          .stone__search__card__caption ng-if="stone.users[1].nickname==null" ???
        .stone__search__info ng-if="stone.time[0]!=null"
          .stone__search__vs ="{{stone.time[0]}}"
        .stone__search__info ng-if="stone.time[0]==null"
          .stone__search__vs VS
        .stone__search__card
          .stone__search__card__ava ng-if="stone.users[2].avatar!=null"
            img style="width:100%; height:100%;" ng-src="{{stone.users[2].avatar}}"
          .stone__search__card__ava ng-if="stone.users[2].avatar==null" ?
          .stone__search__card__caption ng-if="stone.users[2].nickname!=null" ="{{stone.users[2].nickname}}"
          .stone__search__card__caption ng-if="stone.users[2].nickname==null" ???
      .stone__search__caption ="{{stone.search.status[0]}}"

    .stone__winner ng-if='stone.registry["status"]=="done"'
      .stone__winner__caption
        .stone__winner__caption__white Победителем в этой битве стал,
      .stone__winner__profile
        .stone__winner__profile__ava
          img ng-src="{{stone.registry['winner'].avatar}}" style="width:100%; height: 100%;"
        .stone__winner__profile__nickname ="{{stone.registry['winner'].nickname}}"
      .stone__winner__bankinfo
        stone__winner__bankinfo__white Сорвав банк на: &nbsp;
        stone__winner__bankinfo__yellow ="{{2*stone.registry['game'].factor}}"
        stone__winner__bankinfo__white &nbsp; золотых!
      .stone__winner__bankhint ng-if='stone.registry["winner"].nickname == user.nickname'
        stone__winner__bankhint__white Ваш выигрыш составил &nbsp;
        stone__winner__bankhint__white ="{{stone.registry['game'].factor*0.90*2}}"
        stone__winner__bankhint__white &nbsp;золотых с учетом комиссии сервиса в размере 10% &nbsp;
        stone__winner__bankhint__yellow правила игры
      .stone__winner__bankhint ng-if='stone.registry["winner"].nickname != user.nickname'
        stone__winner__bankhint__white Его выигрыш составил &nbsp;
        stone__winner__bankhint__white ="{{stone.registry['game'].factor*0.90*2}}"
        stone__winner__bankhint__white &nbsp;золотых с учетом комиссии сервиса в размере 10%&nbsp;
        stone__winner__bankhint__yellow правила игры
      .stone__winner__message ng-if='stone.registry["winner"].nickname != user.nickname' ng-click="stone.registry['status']='close'" Попробуйте еще
      .stone__winner__message ng-if='stone.registry["winner"].nickname == user.nickname' Поздравляем
      .stone__winner__button ng-if='stone.registry["winner"].nickname == user.nickname' ng-click="stone.registry['status']='close'" Ок

