= will_paginate @result
table.table.table-striped.tablesorter
  thead
    tr
      th ID
      th Значение
      th Создан
  tbody
    - @result.each do |code|
      tr
        td data-sort-by=(code.id) = code.id
        td = code.parametr
        td = code.updated_at