<%
  # inline helper

  def build_manifest(assets)
    definitions = assets.map do |asset|
      <<-JAVASCRIPT
        scope['#{asset}'] = "#{asset_path(asset)}";
      JAVASCRIPT
    end

    <<-JAVASCRIPT
      (function() {
        var scope = {};
        #{definitions.join "\n"}
        return scope;
      }())
    JAVASCRIPT
  end
%>

var assets = (function() {
  var result = {};

  result.views = <%=
    build_manifest %w[archive.html balance.html bets.html broadcast.html
                      callback.html error.html headshot.html history.html
                      lottery.html lottery__input.html stat.html store.html
                       ticket.html indevelop.html main__page.html ruleskodo.html
                        rulesheadshot.html rulesshop.html fifty.html rulesfifty.html
                        fifty__input.html stone.html]
  %>;

  return result;
}());
