.balance {
  height: 110px;
  margin: auto;
  background: $color__blue-black;
}

.balance__icon {
  min-width: 80px;
  background: $color__blue_dirty;
}

.balance__info {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  padding: 0 55px;
}

.balance__title {
  font-size: 150%;
  color: $color__blue_light;
}

.balance__value {
  font-size: 120%;
  color: $color__yellow;
}
