.broadcast {
  display: none;
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 100;
  box-sizing: border-box;
  width: 485px;
  height: 365px;
  padding: 30px 20px 25px;
  background: image-url('broadcast.jpg') center no-repeat;
  background-size: cover;
}

.broadcast__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.broadcast__title {
  font-size: 230%;
  font-weight: 700;
}

.broadcast__subtitle {
  font-size: 140%;
}

.broadcast__result {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.broadcast__number {
  margin: 0 12px 20px 0;
}

.broadcast__gun {
  vertical-align: middle;
}

.broadcast__show {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.broadcast__show__icon {
  display: inline-block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: 1px solid $color__font_bright;
  margin: 0 10px 0 0;
  text-align: center;
  line-height: 13px;
}
