.button {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  background: $color__blue;
  text-align: center;
  font-size: 110%;
  color: $color__blue;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button.next__one {
  margin: 10px 8px 10px 2px;
  width: 80px;
  color: #f7a805;
  background: #111c25;
}

.button._size_medium {
  display: block;
  line-height: 55px;
  margin-bottom: 20px;
}

.button._theme_dark {
  background: $color__menu;
  color: $color__yellow;
}

.button._theme_dark-blue {
  color: $color__blue;
}

.button._theme_dark-dark {
  background: $color__blue_dark;
}

.button._theme_dark:hover {
  background: rgba(29, 45, 57, 0.8);
}

.button._theme_yellow {
  background: $color__yellow;
  color: $color__font_dark;
}

.button._theme_yellow:hover {
  background: rgba(247, 168, 5, 0.8);
}
