.choice {
  box-sizing: border-box;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 300px;
}

.choice__title {
  margin: 0 0 1em;
  text-transform: uppercase;
  font-size: 120%;
  color: $color__blue-white;
}

.choice__wrap {
  background: $color__blue-bg;
}

.choice__head {
  height: 40px;
  padding: 0 15px;
  background: $color__yellow;
  font-family: Open Sans;
  font-weight: 600;
  line-height: 1.2;
  color: $color__font_dark;
}

.choice__head__icon {
  width: 50px;
}

.choice__body {
  padding: 25px 12px 0;
}
