.content {
  padding: 30px 30px 0;
  background: rgba(20, 32, 41, 0.5);
}

.content__title {
  margin: 50px 0 35px;
  font-size: 185%;
  font-weight: 600;
}

.content__main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 66%;
  -ms-flex: 1 66%;
  flex: 1 66%;
}

.content__dummy1 {
  width: 620px;
  height: 350px;
  background: image-url('dummy1.jpg');
  margin-bottom: 20px;
}

.content__dummy2 {
  width: 300px;
  height: 424px;
  background: image-url('dummy2.jpg');
}

.content__dummy3 {
  width: 620px;
  height: 193px;
  background: image-url('dummy3.jpg');
}


.content__dummy4 {
  width: 300px;
  height: 240px;
  background: image-url('dummy4.jpg');
}

.content__aside {
  -webkit-box-flex: 1;
  -webkit-flex: 1 300px;
  -ms-flex: 1 300px;
  flex: 1 300px;
  max-width: 300px;
  min-width: 300px;
  margin-left: 20px;
}

.content:last-of-type {
  padding-bottom: 30px;
}

.sound__button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  opacity: 0.5;
  transition: 0.3s;
}

.sound__button:hover {
  opacity: 1;
}
