.fifty {
  text-align: center;
  font-family: Open Sans;
  background: #131e28;
}

.fifty__main {
  background: $color__blue-black
}

.fifty__title {
  color: #cbdcdd;
  text-align: center;
  font-size: 200%;
  margin: 20px 100px;
  background-color: #16222e;
}

.fifty__left__box2 {
  background: image-url('orangeBox2.png');
  width: 300px;
  height: 300px;
}

.fifty__right__box2 {
  background: image-url('greenBox2.png');
  width: 300px;
  height: 300px;
}

.fifty__left__box {
  background: image-url('orangeBox.png') no-repeat;
  width: 300px;
  height: 300px;
}

.fifty__right__box {
  background: image-url('greenBox.png') no-repeat;
  width: 300px;
  height: 300px;
}

.fifty__left__button {
  border: 4px solid #16222e;
  text-transform: uppercase;
  font-size: 250%;
  width: 250px;
  margin: 20px 3px 3px 3px;
  background-color: #16222e;
  color: orange;
}

.fifty__send {
  width: 520px;
  margin: 10px auto 20px;
  background: #16222e;
  text-align: center;
  color: $color__yellow;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
  display: block;
  border-radius: 2px;
  font-size: 230%;
  font-weight: 700;
  line-height: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.fifty__send:hover {
  background: -webkit-linear-gradient(110deg, transparent 0%, transparent 50%, rgba(255, 255, 255, 0.050000000000000044) 50%, rgba(255, 255, 255, 0.050000000000000044)) -30px center no-repeat, -webkit-repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(255, 255, 255, 0.09999999999999998) 4px, rgba(255, 255, 255, 0.09999999999999998) 5px), -webkit-linear-gradient(#f79f05, #844100);
  background: linear-gradient(
				-20deg,
				transparent 0%,
				transparent 50%,
				rgba(255, 255, 255, 0.050000000000000044) 50%,
				rgba(255, 255, 255, 0.050000000000000044)
			) -30px center no-repeat,
  repeating-linear-gradient(
                  45deg,
                  transparent,
                  transparent 3px,
                  rgba(255, 255, 255, 0.09999999999999998) 4px,
                  rgba(255, 255, 255, 0.09999999999999998) 5px
  ),
  linear-gradient(#f79f05, #844100);
  box-shadow: 0 0 0 2px #000,
  0 2px rgba(255, 255, 255, 0.30000000000000004) inset,
  0 4px rgba(0, 0, 0, 0.09999999999999998) inset,
  0 -3px rgba(255, 255, 190, 0.09999999999999998) inset;
  text-shadow: 0 1px 0 rgba(247, 168, 5, 0.5);
  color: $color__brown;
}

.fifty__stuff__content {
  background-color: #131e28;
}

.fifty__rule__button {
  background-color: #111a23;
  color: orange;
  line-height: 55px;
  font-size: 200%;
}

.fifty__rule {

  border: 0 solid orange;
  border-right-width: 2px;
  border-left-width: 2px;
  margin-top: 10px;
  padding: 10px;
  background-color: #111a23;
}

.fifty__today__high {
  background-color: #111a23;
  color: orange;
  height: 240px;
  width: 300px;
  margin-top: 20px;
}

.fifty__kubok50 {
  width: 300px;
  height: 300px;
  background: image-url('kubok3.png')
}

.fifty__kubok10 {
  width: 300px;
  height: 300px;
  background: image-url('kubok1.jpg')
}

.fifty__kubok30 {
  width: 300px;
  height: 300px;
  background: image-url('kubok2.jpg')
}

.fifty__kubok100 {
  width: 300px;
  height: 300px;
  background: image-url('kubok4.jpg')
}

.fifty__kubok0 {
  width: 300px;
  height: 300px;
  background: image-url('kubok4.jpg')
}

.fifry__table__field {
  margin: 2px 0;
  border: 2px solid #374e60;
  background-color: #101922;
  color: orange;
}

.fifry__table__field.small {
  height: 40px;
  width: 40px;
}

.button__chosen {
  border: 4px solid orange;
}

.button__green__select {
  background-color: #3f9f2c;
  border: 4px solid orange;
}

.button__red {
  background-color: red;
}

.field__1 {
  border: 2px solid orange;
  background-color: #3f9f2c;
}

.field__2 {
  border: 2px solid orange;
}

.field__3 {
  background-color: red;
}

.fifry__table__field.large {
  height: 40px;
  width: 220px;
}


.fifty__rules {
  margin-top: 10px;
  width: 300px;
  height: 300px;
  background: image-url('rules.png')
}


.fifty__prompt__numb {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1 30%;
  -ms-flex: 1 30%;
  flex: 1 30%;
  padding: 0 15px;
}

.fifty__prompt__numb._active {
  color: $color__yellow;
}