.form {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form__fieldset {
  margin: 25px 0;
}

.form__fieldset_half {
  -webkit-box-flex: 1;
  -webkit-flex: 1 50%;
  -ms-flex: 1 50%;
  flex: 1 50%;
  margin: 0;
}

.form__fieldset_half:not(:last-child) {
  padding-right: 20px;
}

.form__label {
  display: block;
  margin-bottom: 15px;
  font-size: 123%;
}

.form__select, .form__input.input {
  width: 100%;
}

.form__select.ng-dirty.ng-invalid {
  box-shadow: 0 0 0 1px $color__red inset;
}

.form__input.input.ng-dirty.ng-invalid {
  box-shadow: 0 0 0 1px $color__red inset;
}

.form__select.input {
  padding-right: 0;
}

.form__button {
  width: 210px;
  height: 40px;
  margin-top: 5px;
  line-height: 40px;
}

.form__button._disabled {
  opacity: .2;
}
