.gun {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  border: 1px solid $color__gun__gray;
  font-family: Open Sans;
}

.gun__preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: 100px;
  background-image: -webkit-radial-gradient(#ededed, #8d8d8d);
  background-image: radial-gradient(#ededed, #8d8d8d);
}

.gun__img {
  margin: auto;
}

.gun__img__history {
  margin: auto;
}

.gun__info {
  box-sizing: border-box;
  min-height: 40px;
  padding: 5px 15px;
  background-color: $color__gun__gray;
  background-image: -webkit-linear-gradient(0deg, $color__gun__gray, rgb(102, 97, 97));
  background-image: linear-gradient(90deg, $color__gun__gray, rgb(102, 97, 97));
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.history .gun__info{
  min-height: 57px;
}

.gun__title {
  font-weight: 700;
}

.gun_mini {
  width: 135px;
  margin: auto;
  -webkit-transform: scale(0.45);
  -ms-transform: scale(0.45);
  transform: scale(0.45);
  -webkit-transition: .3s;
  transition: .3s;
}

.gun_mini .gun__info {
  display: none;
  overflow: hidden;
}

.gun_mini:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.gun_mini:hover .gun__info {
  display: block;
}

.gun_tiny {
  width: 50px;
  height: 50px;
}

.gun_tiny .gun__preview {
  height: 100%;
  line-height: 50px;
}

.gun._theme_red {
  border-color: $color__red;
}

.gun._theme_red .gun__info {
  background-color: $color__red;
  background-image: -webkit-linear-gradient(0deg, $color__red, rgb(102, 56, 56));
  background-image: linear-gradient(90deg, $color__red, rgb(102, 56, 56));
}

.gun._theme_blue {
  border-color: $color__blue;
}

.gun._theme_blue .gun__info {
  background-color: $color__blue;
  background-image: -webkit-linear-gradient(0deg, $color__blue, rgb(79, 92, 102));
  background-image: linear-gradient(90deg, $color__blue, rgb(79, 92, 102));
}

.gun._theme_yellow {
  border-color: $color__yellow;
}

.gun._theme_yellow .gun__info {
  background-color: $color__yellow;
  background-image: -webkit-linear-gradient(0deg, $color__yellow, rgb(102, 70, 5));
  background-image: linear-gradient(90deg, $color__yellow, rgb(102, 70, 5));
}

.gun._theme_purple {
  border-color: $color__red;
}

.gun._theme_purple .gun__info {
  background-color: $color__red;
  background-image: -webkit-linear-gradient(0deg, $color__red, rgb(95, 23, 102));
  background-image: linear-gradient(90deg, $color__red, rgb(95, 23, 102));
}
