.headshot {
  text-align: center;
  font-family: Open Sans;
}

.headshot__main {
  background: $color__blue-black
}

.headshot__list {
  background: $color__blue-black
}

.headshot__main {
  padding: 70px 0 40px;
}

.headshot__title {
  text-transform: uppercase;
  color: $color__yellow;
}

.headshot__subtitle {
  text-transform: uppercase;
  color: $color__yellow;
}

.headshot__title {
  font-size: 370%;
  font-weight: 700;
}

.headshot__subtitle {
  margin: 0 0 40px;
  font-size: 140%;
}

.headshot__prize {
  font-size: 140%;
}

.headshot__ticket {
  display: inline-block;
  margin: 35px 0;
}

.headshot__send {
  display: block;
  width: 275px;
  margin: 55px auto;
  border-radius: 2px;
  background: -webkit-linear-gradient(110deg, transparent 0%, transparent 50%, rgba(255, 255, 255, 0.050000000000000044) 50%, rgba(255, 255, 255, 0.050000000000000044)) -30px center no-repeat, -webkit-repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(255, 255, 255, 0.09999999999999998) 4px, rgba(255, 255, 255, 0.09999999999999998) 5px), -webkit-linear-gradient(#f79f05, #844100);
  background: linear-gradient(
				-20deg,
				transparent 0%,
				transparent 50%,
				rgba(255, 255, 255, 0.050000000000000044) 50%,
				rgba(255, 255, 255, 0.050000000000000044)
			) -30px center no-repeat,
  repeating-linear-gradient(
                  45deg,
                  transparent,
                  transparent 3px,
                  rgba(255, 255, 255, 0.09999999999999998) 4px,
                  rgba(255, 255, 255, 0.09999999999999998) 5px
  ),
  linear-gradient(#f79f05, #844100);
  box-shadow: 0 0 0 2px #000,
  0 2px rgba(255, 255, 255, 0.30000000000000004) inset,
  0 4px rgba(0, 0, 0, 0.09999999999999998) inset,
  0 -3px rgba(255, 255, 190, 0.09999999999999998) inset;
  text-shadow: 0 1px 0 rgba(247, 168, 5, 0.5);
  font-size: 230%;
  font-weight: 700;
  line-height: 70px;
  color: $color__brown;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.headshot__send._passive {
  opacity: .5;
}

.headshot__number {
  margin-bottom: -45px;
  font-size: 140%;
  line-height: 45px;
  color: #4f8fc0;
}

.headshot__rules {
  display: block;
  margin: 0 0 10px;
  text-transform: uppercase;
  line-height: 55px;
  width: 300px;
  height: 55px;
}

.headshot__aside__title {
  text-transform: uppercase;
  background: #172331;
  line-height: 55px;
  color: #4f8fc0;
}

.headshot__list {
  padding: 15px 10px;
}

.headshot__item:not(:first-child) {
  margin-top: -60px;
}

.headshot__item:last-child {
  margin-bottom: -70px;
}