.history {
  font-family: Open Sans;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.history__instruction {
  padding: 15px;
  margin: 0 0 20px;
  background: #0d151f;
}

.history__instruction__text {
  margin: 0 0 0 10px;
  background: #0d151f;
  text-align: left;
  text-transform: uppercase;
  font-size: 10px;
}

.history__instruction__half:first-child {
  box-sizing: border-box;
  position: relative;
  padding: 10px;
}

.history__instruction__half:first-child .history__instruction__line {
  border: none;
  line-height: 1.2;
}

.history__instruction__half:first-child .history__instruction__line:first-child {
  margin-right: 15px;
}

.history__instruction__half:first-child .history__instruction__line:last-child {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.history__instruction__half:last-child .history__instruction__line {
  border-color: $color__yellow;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.history__instruction__b {
  font-weight: 700;
  font-size: 16px;
}

.history__instruction__line {
  line-height: 15px;
  color: $color__blue-white;
}

.history__instruction__line:not(:last-child) {
  border-bottom: 1px solid;
}

.history__instruction .history__short {
  width: auto;
  margin: 0;
  font-size: 12px;
}

.history__instruction .history__short__stat {
  min-width: 70px
}

.history__instruction .history__short__half {
  height: 70px;
  line-height: 70px;
}

.history__content {
  position: relative;
  padding: 0 30px;
  margin: 0 -30px;
}

.history__list {
  overflow: hidden;
}

.history__wrap {
  width: 10000em;
  white-space: nowrap;
  -webkit-transition: .5s;
  transition: .5s;
}

.dummy {
  width: 100%;
  font-size: 450%;
  text-align: center;
  height: 636px;
  background: #101921;
  color: #C98A09;
}

.history__move {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 30px;
  height: 100%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

.history__move__icon {
  margin: auto;
  -webkit-filter: brightness(0) invert(100%);
  filter: brightness(0) invert(100%);
}

.history__prev {
  left: 0;
}

.history__prev__icon {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.history__next {
  right: 0;
}

.history__next__icon {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.history__full {
  display: inline-block;
}

.history__links {
  margin: 25px 0;
}

.history__link {
  display: inline-block;
  padding: 2px 3px;
  margin-right: 10px;
  text-decoration: underline;
  color: $color__blue;
}

.history__link.active {
  background: $color__history__link;
  text-decoration: none;
}

.history__rate {
  vertical-align: top;
  max-width: 300px;
}

.history__rate__head {
  box-sizing: border-box;
  min-height: 110px;
  padding: 10px 14px;
  background: $color__blue-black;
  font-size: 14px;
  line-height: 21px;
  color: $color__blue;
}

.history__rate__index {
  font-size: 20px;
  font-weight: 700;
  color: $color__yellow;
}

.history__full:not(:last-child) {
  margin-right: 20px;
}

.history__short {
  width: 100px;
  margin: 0 0 25px 28px;
  text-align: center;
  font-size: 123%;
}

.history__short__stat {
  background: $color__history__link;
}

.history__short__half {
  height: 100px;
  line-height: 100px;
  color: $color__yellow;
}

.history__short__half:first-child {
  border-bottom: 1px solid $color__history__short__line;
  color: $color__green;
}

.history__short__number:first-child {
  font-size: 200%;
}

.history__short__number:last-child {
  font-size: 123%;
}

.history__short__number:last-child:before {
  content: '/';
}

.history__short__circle {
  font-size: 123%;
  color: $color__blue_light;
}

.history__short__circle.instruction {
  margin-top: 15px;
  font-size: 123%;
  color: $color__blue_light;
}

.history__ticket__number {
  margin-top: 5px;
  font-size: 127%;
  color: whitesmoke;
}

.history__ticket__number.one__more {
  margin-top: 5px;
  font-size: 75%;
  color: whitesmoke;
}

.history__circle__number {
  margin-top: 5px;
  font-size: 123%;
  color: whitesmoke;
}

.history__annotation {
  padding: 40px 0;
  background: $color__history__annotation;
  text-align: center;
}

.history__annotation__item {
  margin: 0 65px;
}

.history__annotation__number {
  margin: 0 auto;
  font-size: 26px;
}

.history__annotation__text {
  margin-top: 15px;
  font-size: 13px;
}

.history__gun .gun__preview {
  min-height: 100px;
}

.history__pagelink {
  color: #ffffff;
  cursor: pointer;
  margin: 0 3px;
}

.history__paging {
  position: relative;
  line-height: 25px;
  padding: 0 6px;
  margin: 8px 0;
}

.history__paging__controls {
  float: right;
  top: 0;
  right: 6px;
}

.current__paging {
  color: #8F98A0;
}
