.inner {
  padding: 35px;
  background: $color__blue-black;
  font-family: Open Sans;
}

.inner__title {
  font-size: 48px;
}

.inner__subtitle {
  margin-bottom: 1em;
  font-size: 24px;
  font-weight: 700;
  color: $color__yellow;
}

.inner__text {
  text-align: justify;
  font-size: 95%;
}

.inner__line {
  height: 1px;
  margin: 24px 0;
  background: -webkit-linear-gradient(0deg, transparent, $color__yellow, transparent);
  background: linear-gradient(90deg, transparent, $color__yellow, transparent);
}

.inner__link {
  line-height: 25px;
}

.inner__link__icon {
  width: 25px;
}

.inner__content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  min-width: calc(100% - 340px);
}

.inner__aside {
  box-sizing: border-box;
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  min-width: 340px;
  padding-left: 40px;
}
