.input {
  box-sizing: border-box;
  height: 35px;
  padding: 0 10px;
  border: 0;
  background: $color__blue_dirty;
  font-family: inherit;
  font-size: 95%;
  color: $color__input__color;
}

.input.next__one {
  margin: 10px 2px 10px 8px;
  background: #111c25;
}

.input__field {
  min-width: 55px;
  max-width: 55px;
  height: 30px;
  text-align: center;
  font-size: 130%;
  line-height: 30px;
  color: $color__font_bright;
}

.input__change {
  min-width: 20px;
  background: $color__input__change;
  text-align: center;
  line-height: 30px;
  height: 30px;
  color: $color__yellow;
}

.input__less:after {
  content: '-';
}

.input__more:after {
  content: '+';
}

.input_textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  resize: none;
}
