.mainpage {
  background: rgba(17, 28, 37, 0.9);
  padding: 20px;
}

.main__block {
  margin: 10px;
}

.main__img1 {
  background: image-url('timer.png');
  width: 300px;
  height: 160px;
  margin: 80px 25px 10px 25px;
}

.main__img2 {
  background: image-url('head.png');
  width: 300px;
  height: 160px;
  margin: 80px 25px 25px 0px;
}

.main__img3 {
  background: image-url('delivery.png');
  width: 300px;
  height: 160px;
  margin: 80px 0 25px 25px;
}

.main__img4 {
  background: image-url('fifty__main.jpg');
  width: 300px;
  height: 160px;
  margin: 80px 25px 10px 25px;
}

.main__text {
  font-size: 160%;
  line-height: 1.1;
  text-align: justify;
}

.main__linktext {
  color: #f7a805;
  text-align: justify;
  margin-left: 6px;
  margin-right: 6px;
}

.main__podzogolovok {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 180%;
  color: #f7a805;
  text-align: center;
  font-weight: bolder;
}

.main__welcome {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 200%;
  color: #f7a805;
  text-align: center;
  font-weight: bolder;
}