.nav {
  height: 100px;
  padding: 0 30px;
  background: rgba(17, 28, 37, 0.9);
}

.nav__button {
  height: 42px;
  margin-left: 10px;
  line-height: 42px;
  color: white;
  text-decoration: none;
  background-color:#628D2A;
  width: 150px;
  border-radius: 3px;

}
