.popup {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  overflow: auto;
  visibility: hidden;
}

.popup__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.popup.open {
  visibility: visible;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

.popup__content {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 500px;
  padding: 40px;
  margin: 50px auto;
  background: $color__font_bright;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  width: 20px;
  height: 20px;
  background: #000;
}