
.rules__main {
  background: #101922;
  border: 5px solid #172331;
}

.rules__main__text {
  padding: 10px;
}

.rules__button__chosen {
  width: 225px;
  height: 80px;
  color: #f7a805;
  font-size: 170%;
  text-align: center;
  font-weight: bolder;
  text-decoration:none;
  margin: auto;
}

.rules__button {
  width: 225px;
  height: 80px;
  background: #172331;
  color: #f7a805;
  font-size: 170%;
  text-align: center;
  font-weight: bolder;
  text-decoration: none;
  margin: auto;
}

.rules__description {
  margin-top: 10px;
  font-size: 115%;
}

.rules__jumper {
  margin-top: 10px;
  font-size: 115%;
}

.rules__img1 {
  background: image-url('rule1.jpg');
  width: 738px;
  height: 373px;
  margin: 25px auto;
}

.rules__img2 {
  background: image-url('rule2.jpg');
  width: 723px;
  height: 375px;
  margin: 25px auto;
}

.rules__img3 {
  margin: 25px auto;
  background: image-url('rule3.jpg');
  width: 800px;
  height: 500px;
}

.rules__img4 {
  margin: 25px auto;
  background: image-url('rule4.jpg');
  width: 631px;
  height: 77px;
}

.rule__name {
  margin-top: 30px;
  font-size: 150%;
  color: #f7a805;
}

.rule__red {
  margin-top: 30px;
  font-size: 140%;
  line-height: 1.1;
  color: #b20000;
  text-align: justify;
  //font-style: italic;
}

.rule__description {

  text-align: justify;
  margin-top: 10px;
  font-size: 115%;
}