.select {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.select__selected {
  white-space: nowrap;
  overflow: hidden;
}

.select__list {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  box-sizing: border-box;
  background: inherit;
  line-height: 20px;
  visibility: hidden;
  max-height: 500px;
  width: 130px;
  overflow: auto;
}

.select__list.store {
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: inherit;
  line-height: 20px;
  visibility: hidden;
}

.select__item {
  padding: 0 10px;
  white-space: nowrap;
}

.select__item.selected {
  background: $color__purple_dark;
}

.select__item:hover {
  background: $color__purple_dark;
}

.select__arrow {
  margin-left: 5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.select.open .select__list {
  visibility: visible;
}

.select.open .select__arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}