.store__change {
  padding: 9px 11px;
  margin: 0 0 9px;
  background: $color__blue-black;
  font-family: PT Sans;
  color: $color__yellow;
}

.store__change__title {
  margin: 0 0 10px;
  font-size: 110%;
}

.store__change__input {
  -webkit-box-flex: 1;
  -webkit-flex: 1 50%;
  -ms-flex: 1 50%;
  flex: 1 50%;
  height: 30px;
  line-height: 30px;
}

.store__change__button {
  height: 30px;
  padding: 0 14px;
  margin-left: 6px;
  font-size: 90%;
  line-height: 30px;
  white-space: nowrap;
}

.store__inventory {
  padding: 17px;
  background: $color__blue-black;
}

.store__inventory__title {
  padding: 1em 0;
  text-align: center;
  font-size: 150%;
  color: $color__blue;
}

.store__inventory__list {
  min-height: 410px;
}

.store__inventory__item {
  box-sizing: border-box;
  width: 145px;
  height: 145px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid $color__store__blue;
  background: $color__store__inventory__item;
}

.store__inventory__item:not(:nth-child(4n)) {
  margin: 0 3px 4px 0;
}

.store__inventory__img {
  width: 90%;
  height: auto;
  margin: auto;
}

.store__actions {
  margin-top: 14px;
  font-family: PT Sans;
}

.store__action {
  -webkit-box-flex: 1;
  -webkit-flex: 1 30%;
  -ms-flex: 1 30%;
  flex: 1 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75px;
  background: $color__blue-black;
}

.store__action:not(:last-child) {
  margin-right: 10px;
}

.store__total__text {
  color: $color__blue;
}

.store__total__price {
  font-size: 150%;
  font-weight: 700;
  color: $color__yellow;
}

.store__buy {
  padding: 0 30px;
  font-size: 185%;
  color: $color__green;
  white-space: nowrap;
  -webkit-transition: .3s;
  transition: .3s;
}

.store__buy:hover {
  background: $color__yellow;
  color: $color__blue-black;
}

.store__more {
  font-size: 115%;
  color: $color__yellow;
}

.store__best {
  min-width: 295px;
  margin-right: 10px;
  font-family: PT Sans;
}

.store__best__title {
  margin-bottom: 10px;
  background: $color__blue_dirty;
  text-align: center;
  font-size: 115%;
  line-height: 60px;
  color: $color__blue;
}

.store__best__gun {
  border-bottom: 3px solid;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 152px;
  background: $color__blue_dirty;
}

.store__best__gun__preview {
  margin: auto;
}

.store__icon  {
  position: absolute;
  margin: 2px;
}

.store__items__count {
  position: absolute;
  font-size: 115%;
  background: rgba(16, 25, 34, 0.7);
  padding: 5px 10px;
}

.store__items__count__small {
  position: absolute;
  padding: 0 2px;
  background: $color__store__gun__price;
  font-size: 100%;
  line-height: 1.66;
}

.store__best__gun__price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background: rgba(16, 25, 34, 0.7);
  font-size: 115%;
}

.store__best__gun__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  background: rgba(16, 25, 34, 0.7);
}

.store__best__gun__info__icon {
  min-width: 50px;
  text-align: center;
  line-height: 50px;
}

.store__best__gun__info__text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.store__best__gun__name {
  font-size: 115%;
  font-weight: 700;
}

.store__best__gun__name.small {
  font-size: 100%;
  //font-weight: lighter;
  position: absolute;
  bottom: 0;
  margin: 0 10px 4px 10px;
}

.store__best__gun__status {
  font-size: 90%;
}

.store__cart {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
}

.store__filter__button {
  box-sizing: border-box;
  width: 105px;
  height: 30px;
  padding: 0 5px;
  margin: 0 8px 8px 0;
  background: $color__blue_dirty;
  text-align: center;
  line-height: 30px;
  color: $color__blue;
}

.store__filter__button.active {
  background: $color__purple_dark;
}

.store__filter__input {
  height: 100%;
  line-height: 30px;
}

.store__filter__search {
  width: 225px;
}

.store__filter__search__icon {
  min-width: 28px;
  background: $color__store__gun__bg;
  text-align: center;
  line-height: 30px;
}

.store__guns {
  padding: 20px 20px 10px;
  margin: 30px 0;
  background: $color__input__change;
}

.store__gun {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  width: 220px;
  height: 110px;
  border: 1px solid;
  background: $color__store__gun__bg;
  text-align: center;
  overflow: hidden;
}

.store__gun__preview {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.store__gun__img {
  margin: auto;
}

.store__gun__price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 2px;
  background: $color__store__gun__price;
  font-size: 100%;
  line-height: 1.66;
}

.store__gun__status {
  padding: 0 .7em;
  text-align: left;
  font-size: 75%;
  line-height: 2;
}

.store__gun:not(:nth-child(4n)) {
  margin: 0 6px 7px 0;
}

.store__gun._st_true:before {
  content: 'ST';
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1px;
  background: $color__yellow;
  font-size: 75%;
  line-height: 1.3;
  color: #000;
}

.store__best__gun._theme_r1 {
  border-color: #4DA1D0;
}

.store__best__gun._theme_r2 {
  border-color: #3760FF;
}

.store__best__gun._theme_r3 {
  border-color: #418AD6;
}

.store__best__gun._theme_r4 {
  border-color: #793FEA;
}

.store__best__gun._theme_r5 {
  border-color: #D929B3;
}

.store__best__gun._theme_r6 {
  border-color: #EC3D2E;
}

.store__best__gun._theme_r7 {
  border-color: #93C2C9;
}

.store__best__gun._theme_r8 {
  border-color: #2F4AF5;
}

.store__best__gun._theme_r9 {
  border-color: #D62BE9;
}

.store__best__gun._theme_r10 {
  border-color: #7E3BC9;
}

.store__best__gun._theme_r11 {
  border-color: #DE902C;
}

.store__gun._theme_r1 {
  border-color: #4DA1D0;
}

.store__gun._theme_r2 {
  border-color: #3760FF;
}

.store__gun._theme_r3 {
  border-color: #418AD6;
}

.store__gun._theme_r4 {
  border-color: #793FEA;
}

.store__gun._theme_r5 {
  border-color: #D929B3;
}

.store__gun._theme_r6 {
  border-color: #EC3D2E;
}

.store__gun._theme_r7 {
  border-color: #93C2C9;
}

.store__gun._theme_r8 {
  border-color: #2F4AF5;
}

.store__gun._theme_r9 {
  border-color: #D62BE9;
}

.store__gun._theme_r10 {
  border-color: #7E3BC9;
}

.store__gun._theme_r11 {
  border-color: #DE902C;
}

