.ticket {
  background: image-url('ticket1.jpg');
  width: 422px;
  height: 216px;
  //border: 2px solid rgba(0, 0, 0, 0.19999999999999996);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.75);

  background-size: auto;
  font-family: Open Sans;
  font-size: 90%;
  color: $color__font_bright;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.ticket__line {
  position: relative;
  z-index: 10;
  min-height: 37px;
  padding: 0 15px;
  background: rgba(6, 37, 69, 0.9);
}

.ticket__line:after {
  content: '';
  position: absolute;
  z-index: -10;
}

.ticket__head:after {
  top: 100%;
  right: 0;
  border-top: 20px solid rgba(6, 37, 69, 0.9);
  border-right: 210px solid rgba(6, 37, 69, 0.9);
  border-left: 20px solid transparent;
}

.ticket__foot:after {
  bottom: 100%;
  left: 0;
  border-bottom: 20px solid rgba(6, 37, 69, 0.9);
  border-left: 210px solid rgba(6, 37, 69, 0.9);
  border-right: 20px solid transparent;
}

.ticket__status {
  -webkit-box-flex: 1;
  -webkit-flex: 1 100%;
  -ms-flex: 1 100%;
  flex: 1 100%;
  text-align: right;
}

.ticket__logo {
  position: relative;
  bottom: 8px;
  float: left;
}

.ticket__note {
  float: right;
  margin: 8px 0;
  text-align: left;
  font-size: 60%;
  line-height: .6;
  letter-spacing: -.03em;
}

.ticket__title {
  float: left;
  padding: 10px 0;
}

.ticket__info {
  float: right;
  margin: 15px 0;
}

.ticket__prize {
  text-align: left;
  text-transform: uppercase;
  line-height: 1;
}

.ticket__prize__title {
  font-size: 125%;
  font-weight: 700;
}

.ticket__prize__value {
  font-size: 115%;
  color: $color__yellow;
}

.ticket__price {
  position: relative;
  z-index: 10;
  width: 42px;
  height: 40px;
  margin: -10px 0 0 20px;
  border-radius: 50%;
  background-color: $color__yellow;
  text-shadow: $color__text__shadow;
  line-height: 1;
  color: $color__gray_bright;
}

.ticket__price__value {
  font-size: 115%;
}

.ticket__button {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 170px;
  margin: 0 12px;
  background-color: #062545;
  background-image: -webkit-repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(255, 255, 255, 0.09999999999999998) 4px, rgba(255, 255, 255, 0.09999999999999998) 5px), -webkit-linear-gradient(#104175, #062343);
  background-image: repeating-linear-gradient(
                  45deg,
                  transparent,
                  transparent 3px,
                  rgba(255, 255, 255, 0.09999999999999998) 4px,
                  rgba(255, 255, 255, 0.09999999999999998) 5px
  ),
  linear-gradient(#104175, #062343);
  box-shadow: 0 2px rgba(255, 255, 255, 0.30000000000000004) inset,
  0 4px rgba(0, 0, 0, 0.09999999999999998) inset;
  text-shadow: $color__text__shadow;
  text-align: center;
  font-size: 170%;
  font-weight: 700;
  line-height: 64px;
}

.ticket__button._erased {
  background-image: none;
  box-shadow: none;
  text-shadow: 0 0 6px $color__red;
  color: $color__yellow;
}

.ticket._mini {
  -webkit-transform: scale(.65);
  -ms-transform: scale(.65);
  transform: scale(.65);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}