= render 'admin/users/navbar'

- if role.can? 'admin/creditings', :create
  form action=(url_for [:admin, :creditings]) method=:post
    label for=:amount Пополнить баланс:
    input#amount name=:amount
    input value='Выдать!' type=:submit

table.table.table-striped
  thead
    tr
      td Дата исполнения
      td Сумма
      td Источник
  tbody
    - @creditings.each do |crediting|
      tr
        td = l crediting.created_at.to_date
        td = crediting.amount
        td = crediting.source

