$color__yellow: #f7a805;
$color__lemon: #ffffbe;
$color__blue: #4f8fc0;
$color__blue_light: #84b4d9;
$color__blue_dark: #172331;
$color__blue_dirty: #16222e;
$color__blue-gray: #3B4D5B;
$color__blue-black: #101922;
$color__blue-white: #cbdcdd;
$color__blue-bg: #111c25;
$color__red: #9c3939;
$color__purple: #a717b3;
$color__purple_dark: #360b43;
$color__green: #94c901;
$color__green-blue: #11d8db;
$color__brown: #291701;
$color__black: #0E171E;
$color__dark: #0f1720;
$color__predark: #142029;
$color__gray_bright: #e2e2e2;
$color__font_dark: #101b23;
$color__font_bright: #fff;
$color__menu: #1d2d39;
$color__steam__bright: #7aae35;
$color__steam__dark: #496820;
$color__footer: #080F15;

$color__history__annotation: #101921;
$color__history__head: $color__blue-black;
$color__history__link: #14202b;
$color__history__short: #14202b;
$color__history__short__line: #192734;

$color__archive__row: #101D26;
$color__archive__order__link: #213850;

$color__gun__gray: #626262;
$color__gun__red: $color__red;
$color__gun__yellow: $color__yellow;
$color__gun__purple: $color__purple;
$color__gun__blue: $color__blue;
//$color__gun__filter: blackness(60%);

$color__callback__bg: $color__blue-black;

$color__input__bg: #16222e;
$color__input__color: #79a5c7;
$color__input__change: #0e151d;

$color__button__dark: #1d2d39;

$color__store__guns: #0e151d;
$color__store__gun__bg: #121c26;
$color__store__gun__status: #15202c;
$color__store__gun__price: #17232f;
$color__store__blue_dark: $color__blue-black;
$color__store__blue: #38495a;
$color__store__inventory__item: #0d161e;

$color__banner: $color__blue-bg;

$color__lottery__type: #1d2d39;
$color__lottery__label: #8094a8;
$color__lottery__login: $color__blue-bg;
$color__lottery__aside: $color__blue-bg;

//$color__ticket__line: color(#062545 alpha(-10%));
