= render 'navbar'

= simple_form_for @search, method: :get, url: [:participations, :admin, @user], as: :search do |f|
  = f.input :lottery_types, collection: %w[Kodo Headshot], as: :check_boxes,
            required: false, include_blank: false, label: 'Лотереи'
  = f.input :lottery_number, label: 'ID лоттереи', required: false
  = f.input :gun_matched, label: 'Угадана картинка', collection: { 'Да' => true, 'Нет' => false},
            required: false
  = f.input :numbers_matched, collection: 0..8, label: 'Угадано номеров',
            as: :check_boxes, required: false, include_blank: false,
            wrapper_html: { class: 'inline' }
  = f.submit 'Применить', class: 'btn btn-ok'

table.table.table-striped
  thead
    tr
      th Дата
      th ID билета
      th ID лотереи
      th Ставка
      th Выигрыш
      th Выбраные
      th Результат лоттереи
      th Совпадения
  tbody
    - @stats.each do |stat|
      tr
        td = stat.date
        td = stat.id
        td = stat.lottery_id
        td = stat.bet
        td = stat.win
        td = stat.selection
        td = stat.lottery_result if stat.lottery_type != 'Lottery::Headshot'
        td = stat.matches

