#user-info
  span = t('application.welcome', username: current_user.name)

  - if current_user.admin_scope_access?
    a href=admin_root_path = t('admin.enter')

  = form_tag '/dev/increase_user_balance'
    .balance
      span Баланс пользователя: #{current_user.balance}
    input name=:amount
    input type=:submit value='Пополнить!'

  button.simple.ajax#logout data-url='/session' data-method=:delete
    =t('application.logout')
