.row
  .page-header
    h1 Общая статистика
.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            .fa.fa-users.fa-5x
          .col-xs-9.text-right
            .huge =@users_amount
            div Пользователей
      a href="/admin/users"
        .panel-footer
          span.pull-left Подробнее
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            .fa.fa-money.fa-5x
          .col-xs-9.text-right
            .huge =@bablo
            div золотых
          .clearfix
      a href="/admin/users"
        .panel-footer
          span.pull-left На счетах
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            .fa.fa-gavel.fa-5x
          .col-xs-9.text-right
            .huge = @count_items
            div предмета
          .clearfix
      a href="/admin/items"
        .panel-footer
          span.pull-left К предметам
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
  .col-lg-3.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            .fa.fa-credit-card.fa-5x
          .col-xs-9.text-right
            .huge =@items_costs.round(2)
            div средняя стоимость вещи
          .clearfix
      a href="/admin/items"
        .panel-footer
          span.pull-left К предметам
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix