doctype html
html
  head
    title DEV
    / Не трогать
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

body
  / Код страницы вставится в следющей строке
  = yield
